
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-between">
                    <h4>List of Tax Deduction Slab</h4>
                   
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-center">
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-md-end">
                    <button class="btn btnheader" routerLink="/dash/payroll/payrolldashboard/deductionSlab">
                        Add
                      </button>
                      <button class="btn btn-light mx-1" (click)="exportToExcel()">
                        Download
                      </button>
                  </div>
              
                  
                </div>
            </div>
            <div class="card-body">
              <div class="row g-4">
                <div class="col-md-4"><label>Person Type</label>
              <ng-select id="type"
  [items]="types"
  bindLabel="name"
  bindValue="value"
  placeholder="--Select PersonType--"
  [(ngModel)]="personType"
  (ngModelChange)="onPersonTypeChange($event)"
  class="w-100">
</ng-select>

              
                  
                </div>
              </div>
              
            </div>
            <div class="card-body">
                <div class="table-responsive table-invoice">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sr.No</th>
                            <th>Sequence</th>
                            <th>Lower Limit</th>
                            <th>Upper Limit</th>
                            <th>Tax Percentage</th>
                            <th>Tax Regime</th>
                            <th>Action</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr *ngFor="let item of filteredData() 
                          | paginate : { itemsPerPage: pageSize, currentPage: pageIndex ,totalItems: totalItems };let i = index">
                      <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                      <td>{{ item.sno}}</td>
                      <td>{{ item.lowerLimit}}</td>
                      <td>{{ item.upperLimit}}</td>

                            <td>{{ item.tax_Percent}}</td>
                            <td>
                              <button class="btn btn-sm btn-outline"  ><i class="fa-regular fa-pen-to-square" (click)="isUpdate(encryptionService.encryptText(item.pk_slabid.toString()))"></i></button>
                            
                             <button class="btn btn-sm btn-outline"><i class="fa fa-trash"(click)="deleteDeduction(item.pk_slabid)"></i></button>
                            </td>
                          </tr>  -->

                          <tr *ngFor="let item of filteredData() | paginate : { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalItems }; let i = index">
  <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
  <td>{{ item.sno }}</td>
  <td>{{ item.lowerLimit }}</td>
  <td>{{ item.upperLimit }}</td>
  <td>{{ item.tax_Percent }}</td>
    <td>
  {{ item.taxRegime}}
</td>

  <td>
    <button class="btn btn-sm btn-outline" (click)="isUpdate(encryptionService.encryptText(item.pk_slabid.toString()))">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>

    <button class="btn btn-sm btn-outline" (click)="deleteDeduction(item.pk_slabid)">
      <i class="fa fa-trash"></i>
    </button>
  </td>
</tr>

                        </tbody>
                      </table>
                      <pagination-controls
                      (pageChange)="onPageChange($event)"
                      [responsive]="true">
                    </pagination-controls>
                  
                          <ng-template #noData>
                            <tr>
                              <td colspan="4" class="text-center">No data available</td>
                            </tr>
                          </ng-template>
            
                    
                  </div>
            </div>

          
        </div>
    </div>
</div>