.custom-checkbox {
    transform: scale(1); /* Increases checkbox size */
    margin-left:-98px; /* Moves checkbox to the left */
  }
  .card-header{
    background-color: #3080e8;
  
   // font-weight: bold;
  }
  .ngx-pagination .current {
  padding: .1875rem .625rem;
  background:  #3080e8 !important;
  color: #fefefe;
  cursor: default;
  }
  .dropdown-menu {
    max-height: 200px; /* Adjust height as needed */
    overflow-y: auto;
  }
  