<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">



    <div class="card">
      <!--  -->


      <div class="card-header bg-blue py-lg-2 mt-0">
        <div class="row w-100 align-items-center">

          <!-- Title Section -->
          <div class="col-12 col-md-3">
            <h4 class="text-white text-center text-md-start">Attendance Adjustment</h4>
          </div>

          <!-- Search Section -->
          <div class="col-12 col-md-7 mt-2 mt-md-0">
            <app-common-search (filtersChanged)="handleFilters($event)"></app-common-search>
          </div>



        </div>
      </div>


      <div class="card-body mt-4">
        <form [formGroup]="EmployeeForm">

          <div class="row row-cols-1 row-cols-md-4">


            <div class="col">
              <label>Month<span style="color: red;">*</span></label>

              <div class="form-group">
                <ng-select id="year" [items]="Month" bindLabel="name" bindValue="value" formControlName="fk_monthId"
                  placeholder="--Select --" class="w-100"></ng-select>
                <span *ngIf="showError &&EmployeeForm.controls['fk_monthId'].invalid" class="text-danger mt-1"
                  style="font-size: 12px;">
                  Please enter Month.
                </span>
              </div>
            </div>


            <div class="col">
              <label>Year<span style="color: red;">*</span></label>
              <div class="form-group">
                <ng-select id="Year" [items]="Year" bindLabel="name" bindValue="value" formControlName="fk_yearId"
                  placeholder="--Select --" class="w-100"></ng-select>
                <span *ngIf="showError &&EmployeeForm.controls['fk_yearId'].invalid" class="text-danger mt-1"
                  style="font-size: 12px;">
                  Please enter Year.
                </span>
              </div>
            </div>

            <div class="col" *ngIf="isContractApplicable">
              <label>Contractor Name</label>
              <div class="form-group">
                <ng-select [items]="Contractor" bindLabel="name" bindValue="value" [multiple]="true"
                  [closeOnSelect]="false" formControlName="fk_costcentreid" placeholder="--Select --" class="w-100"
                  (clear)="clearContractors()" (change)="onContractorChange()">
                  <ng-template ng-multi-label-tmp>
                    <span>{{ getContractorDisplayText() || '--Select --' }}</span>
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div *ngIf="item.value === '__select_all__'">
                      <input type="checkbox"
                        [checked]="isAllContractorsSelected()" class="form-check-input fs-6 mx-1" style="pointer-events: none;" />
                      <strong>Select All</strong>
                    </div>
                    <div *ngIf="item.value !== '__select_all__'">
                      <input type="checkbox" [checked]="selectedContractors.includes(item.value)"
                        class="form-check-input fs-6 mx-1" style="pointer-events: none;" />
                      {{ item.name }}
                    </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>

            <div class="col d-flex align-items-centern justify-content-end align-items-center">


              <button type="submit" class="btn btn-primary mx-1" (click)="toggleEmployeeList()"
                (click)="OnVeiw()">View</button>
              <button type="reset" class="btn btn-outline-dark mx-1">Reset</button>
            </div>

          </div>


        </form>

      </div>

      <!-- List of Employee -->
      <div *ngIf="showEmployeeList">
        <!-- <div class="card-header">
          <div class="row w-100 ">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
              <h4>List of Employee</h4>
            </div>
          </div>
        </div> -->
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
            <p class="text-primary m-0"><b>List of Employee</b></p>
          </div>
          <form [formGroup]="EmployeeForm" class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr&nbsp;no</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Total&nbsp;Days</th>
                  <th>Paid&nbsp;Days</th>
                  <th>LWP</th>
                  <th>Incentive&nbsp;Days</th>
                  <th>OT&nbsp;Hrs</th>
                </tr>
              </thead>
              <tbody formArrayName="employees">
                <tr
                  *ngFor="let empCtrl of employees.controls | paginate : { itemsPerPage: pageSize1, currentPage: pageIndex1 ,totalItems: totalCount2 }; let i = index"
                  [formGroupName]="i">
                  <td>{{ (pageIndex1-1) * pageSize1 + i + 1 }}</td>
                  <td>{{ list[i].empcode }}</td>
                  <td>{{ list[i].empname }}</td>
                  <td><input type="number" formControlName="totdays" class="form-control" readonly="true" /></td>
                  <td>
                    <!-- <input type="number" formControlName="paiddays" class="form-control" min="0" max="employees.get('totdays')?.value" step="0.01"/> -->
                    <input type="number" formControlName="paiddays" class="form-control" step="0.50"
                      (blur)="onPaidDaysBlur(empCtrl, i)" (change)="onPaidDaysBlur(empCtrl, i)" />

                  </td>

                  <td><input type="number" formControlName="lwp" class="form-control" readonly="true" /></td>
                  <td><input type="number" formControlName="incentiveDays" class="form-control" /></td>
                  <td><input type="number" formControlName="otHrs" class="form-control" /></td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="onPageChange1($event)">
            </pagination-controls>

          </form>

        </div>

        <!-- <div class="card-header">
          <div class="row w-100 ">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
              <h4>List of Employee (Attendance Locked)</h4>
            </div>
          </div>
        </div> -->

        <div class="card-body">
          <div class="table-responsive table-invoice">
            <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
              <p class="text-primary m-0"><b>List of Employee (Attendance Locked) </b></p>
              <input type="text" class="form-control w-auto" placeholder="Search employee..." placeholder="Search..."
                [(ngModel)]="searchText" />
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr.</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Department</th>
                  <th>Designation</th>

                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let emp of filteredData() | paginate : { id :'locked',itemsPerPage: pageSize, currentPage: pageIndex ,totalItems: totalCount1 }; let i = index">
                  <td>{{ (pageIndex-1) * pageSize + i + 1 }}</td>
                  <td>{{ emp.empcode }}</td>
                  <td>{{ emp.empname }}</td>
                  <td>{{ emp.location }}</td>
                  <td>{{ emp.department }}</td>
                  <td>{{ emp.designation }}</td>

                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="onPageChange($event)" id="locked">
            </pagination-controls>

            <div class="modal-footer">

              <button type="submit" class="btn btn-primary mx-1" (click)="onSave()">Save</button>

            </div>
          </div>
        </div>



      </div>

    </div>
  </div>

</div>