<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">

      <!--  -->
      <div class="card-header bg-blue ">
        <div class="row w-100 ">
          <div class="col-sm-12 col-md-6 col-lg-6  ">
            <h4 class="">Religion Master</h4>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-md-end">
            <button class="btn btnheader" routerLink="/dash/user/userdashboard/regligionMaster_list">Back
            </button>
          </div>
        </div>
      </div>

      <!--  -->

      <div class="card-body mt-4">
        <form [formGroup]="regligionFrom" class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col"><label>Religion<span class="text-danger">*</span></label>
            <div class="form-group">
              <input type="text" class="form-control flex-grow-1" formControlName="religiontype">
              <span
                *ngIf="showError && regligionFrom.controls['religiontype'].invalid && !regligionFrom.get('religiontype')?.errors?.['duplicate']"
                class="text-danger mt-1" style="font-size: 12px;">
                Please enter Religion.
              </span>

              <!-- Show validation error message from API only if it exists -->
              <div *ngIf="regligionFrom.get('religiontype')?.errors?.['duplicate']" class="text-danger"
                style="font-size:10px;">
                {{ regligionFrom.get('religiontype')?.errors?.['duplicate'] }}
              </div>
            </div>
          </div>


        </form>
        <div class="row">
          <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
            <button type="submit" class="btn btn-primary btn-sm mx-1 px-2" (click)="onSubmit()">
              {{ isEditMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn btn-outline-dark btn-sm mx-1 px-2" (click)="resetForm()">
              Reset
            </button>
          </div>
        </div>
      </div>





    </div>
  </div>
</div> 