<div class="row mt-2">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <!-- Heading -->
            <div class="card-header bg-blue">
                <div class="row w-100">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h4 class="">Form 16 Process</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-end ms-auto gap-2">
                    <button class="btn btn-light"><i class=""></i> Goto List</button>
                </div>
            </div>
            <!-- form Start -->
            <div class="card-body mt-4">
                <div class="row">
                    <app-common-search></app-common-search>
                  </div>
                <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label for="LeaveNatureType" class="">Posting City</label>
                            <ng-select id="LeaveNatureType" [items]="PostingCity" bindLabel="name" bindValue="value"
                                formControlName="PostingCity" placeholder="--Select Year--"
                                class="w-100"></ng-select>
                        </div>
                       
                        <div class="col-md-4">
                            <label for="LeaveNatureType" class="">Nature Type</label>
                            <ng-select id="LeaveNatureType" [items]="NatureType" bindLabel="name" bindValue="value"
                                formControlName="NatureType" placeholder="--Select Nature Type--"
                                class="w-100"></ng-select>
                        </div>
                        <div class="col-md-4">
                            <label for="LeaveNatureType" class="">Financial Year</label>
                            <ng-select id="LeaveNatureType" [items]="FinancialYear" bindLabel="name" bindValue="value"
                                formControlName="FinancialYear" placeholder="--Select Month--"
                                class="w-100"></ng-select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label>Dated</label>
                            <input type="date" class="form-control" formControlName="Dated" />
                          </div>
                    </div>
                    <div class="modal-footer mt-2">
                        <button type="submit" class="btn btn-outline-dark mx-1">Save</button>
                        <button type="button" class="btn btn-primary mx-1">Resets</button>
                      </div>

                </form>
            </div>
        </div>
    </div>
</div>

