<div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row w-100">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-between">
              <h4>{{ Isedit ? 'Edit Event' : 'Event Master' }}</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-md-end">
              <button class="btn btnheader" routerLink="/dash/hr/hrdashboard/event_list">
                Back
              </button>
            </div>
          </div>
        </div>

        <div class="card-body mt-4">
          <form [formGroup]="eventForm">
            <div class="row row-cols-1 row-cols-md-3 g-4">

              <!-- Event Name -->
              <div class="col">
                <label for="eventName">Event Name:<span style="color:red">*</span></label>
                <input id="eventName" type="text" class="form-control" formControlName="eventName"
                  placeholder="Enter event name" (blur)="checkEventAvailability(eventForm.get('eventName')?.value)" />

                <span
                  *ngIf="showError && eventForm.controls['description'].invalid && !eventForm.get('eventName')?.errors?.['duplicate']"
                  class="text-danger mt-1" style="font-size: 12px;">Please enter eventName </span>


                <div *ngIf="eventForm.get('eventName')?.errors?.['duplicate']" class="text-danger"
                  style="font-size:10px;">
                  {{ eventForm.get('eventName')?.errors?.['duplicate'] }}
                </div>
              </div>


              <!-- Event Venue -->

              <div class="col">
                <label>Event Venue<span style="color: red;">*</span></label>
                <input id="eventVenue" type="text" class="form-control" formControlName="eventVenue" />
                <span *ngIf="showError && eventForm.controls['eventVanue'].invalid" class="text-danger mt-1"
                  style="font-size: 12px;">
                  Enter Venue.
                </span>
              </div>





              <!-- Event Date -->
              <div class="col">
                <label for="eventDate">Event Date:<span style="color:red">*</span></label>
                <input id="eventDate" type="date" class="form-control" formControlName="eventDate" />
                <span *ngIf="showError && eventForm.controls['eventDate'].invalid" class="text-danger mt-1"
                  style="font-size: 12px;">
                  Please select event date.
                </span>
              </div>




              <!-- Department -->
              <div class="col">
                <label>Departments</label>

                <ng-select [items]="department" bindLabel="name" bindValue="value" [multiple]="true"
                  [closeOnSelect]="false" placeholder="--Select Locations--" class="w-100 small"
                  formControlName="fk_deptId" [disabled]="Isedit">

                  <ng-template ng-multi-label-tmp>
                    <span>{{ getLocationDisplayText() || "--Select Department--" }}</span>
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div *ngIf="index === 0">
                      <input type="checkbox" (change)="toggleSelectAll()" [checked]="isAllSelected()"
                        class="form-check-input fs-6 mx-1" />
                      <strong>&nbsp;Select All</strong>
                    </div>
                    <div *ngIf="index !== 0">
                      <input type="checkbox" [checked]="selectedDepartment.includes(item.value)"
                        (change)="toggleLocation(item.value)" class="form-check-input fs-6 mx-1" />
                      {{ item.name }}
                    </div>
                  </ng-template>

                </ng-select>
              </div>



              <div class="col">
                <label>Location</label>

                <ng-select [items]="location" bindLabel="name" bindValue="value" [multiple]="true"
                  [closeOnSelect]="false" placeholder="--Select Locations--" class="w-100 small"
                  formControlName="fk_locId" [disabled]="Isedit">

                  <ng-template ng-multi-label-tmp>
                    <span>{{ getLocationDisplayTextLoc() }}</span>
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div *ngIf="index === 0">
                      <input type="checkbox" (change)="toggleSelectAllLoc()" [checked]="isAllSelectedLoc()"
                        class="form-check-input fs-6 mx-1" />
                      <strong>&nbsp;Select All</strong>
                    </div>
                    <div *ngIf="index !== 0">
                      <input type="checkbox" [checked]="selectedLocation.includes(item.value)"
                        (change)="toggleLoc(item.value)" class="form-check-input fs-6 mx-1" />
                      {{ item.name }}
                    </div>
                  </ng-template>

                </ng-select>
              </div>





              <!-- Active Checkbox -->
              <div class="col">
                <label for="isActive">Active:</label>
                <div class="form-group">
                  <input type="checkbox" id="isActive" formControlName="isActive" class="form-check-input" />
                </div>
              </div>
            </div>

            <!-- Footer Buttons -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary mx-1" (click)="submitForm()">
                {{ Isedit ? 'Update' : 'Save' }}
              </button>
              <button type="button" class="btn btn-outline-dark mx-1" (click)="resetForm()">
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>