<footer class="footer_dashboard">
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-0 col-md-0 col-lg-1"></div>
        <!--  -->
        



        <div class="col-sm-12 col-md-6 col-lg-2">
            <ul>
                <a href="#"><p class="text-white fw-semibold pt-4">Taem Solution</p></a>
                <a href="#"><li>Logistics</li></a>
                <a href="#"><li>Logistic chain</li></a>
                <a href="#"><li>Developers</li></a>
                <a href="#"><li>Research</li></a>
                <a href="#"><li>Marketing</li> </a> 
                
       
               </ul>
        </div>
        <!--  -->

        <div class="col-sm-12 col-md-6 col-lg-2">
    <ul>
     <a href="#"><p class="text-white fw-semibold pt-4">Company</p></a>
     <a href="#"><li>About us</li></a>
     <a href="#"><li>Diversity</li></a>
     <a href="#"><li>Leadership Team</li> </a> 
     <a href="#"><li>Careers</li></a>
     <a href="#"><li>Contact Us</li></a>

    </ul>
        </div>
        <!--  -->


        <div class="col-sm-12 col-md-6 col-lg-2">
            
            <ul>
                <a href="#"><p class="text-white fw-semibold pt-4">Workflow Solutions</p></a>
                <a href="#"><li>Management</li></a>
                <a href="#"><li>Task Management</li></a>
                <a href="#"><li>Reporting</li></a>
                <a href="#"><li>Work Tracking</li></a>
                <a href="#"><li>See All Uses</li> </a> 
                
       
               </ul>
        </div>
        <!--  -->
       
        <!--  -->

        <div class="col-sm-12 col-md-6 col-lg-3"> 
          <ul>
            <a href="#"><h5 class="text-white fw-semibold pt-4 text-center">FOLLOW US</h5></a>
            <!-- <a href="#" class=""><li class="pt-3 text-center"><img src="assets/Image/logo.png" alt="" height="35px" width="40%"></li></a> -->
            <a href="#"><li class="text-center pt-3 footer-social-media">
              <!-- <img src="assets/Image/facebook.png" alt="" width="35px" height="35px"> -->
              <!-- <img src="assets/Image/instagram.png" alt="" width="35px" height="35px"> -->
              <!-- <img src="assets/Image/twitter.png" alt="" width="35px" height="35px"> -->
              <!-- <img src="assets/Image/linkedin.png" alt="" width="35px" height="35px"> -->
            </li></a>
            <a href="#"><li class=" pt-3 text-center"><i class="fa-solid fa-phone"></i>&nbsp; +91-XXXXXXXXXX</li></a>
            <!-- <a href="#"><li class="text-center"><i class="fa-solid fa-envelope fs-6"></i>&nbsp; xxxxxxxxxx@gmail.com</li></a> -->
            
           
            
   
           </ul>
            
        </div>
        <!--  -->
        <div class="col-sm-0 col-md-0 col-lg-2"></div>

    </div>
</div>

<!------------ fotter second section-------- -->

  <!--  -->
<!-- Footer -->

<!-- Grid container -->
<div class="container p-4 pb-0 text-center text-white">
<!-- Section: Social media -->
<section class="mb-4">
    <!-- Facebook -->
    <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1 border border-white" href="#" role="button"><i class="fab fa-facebook-f text-white"></i></a>

    <!-- Twitter -->
    <a data-mdb-ripple-init class="btn btn-outline-success btn-floating m-1 border border-white" href="#" role="button"><i class="fab fa-twitter text-white"></i></a>

    <!-- Google -->
    <a data-mdb-ripple-init class="btn btn-outline-danger btn-floating m-1 border border-white" href="#" role="button"><i class="fab fa-google text-white"></i></a>

    <!-- Instagram -->
    <a data-mdb-ripple-init class="btn btn-outline-danger btn-floating m-1 border border-white" href="#" role="button"><i class="fab fa-instagram text-white"></i></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline-success btn-floating m-1 border border-white" href="#" role="button"><i class="fab fa-github text-white"></i></a>

    <!-- Linkedin -->
    <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1 border border-white" href="#" role="button"><i class="fab fa-linkedin-in text-white"></i></a>

   </section>
<!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright start -->
<div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
© 2024 :  
<a class="text-white" href="#"> Coolie Fiker Not ! All Rights Reserved.</a>
</div>
<!-- Copyright end -->

<!-- Footer -->
<!--  -->
</footer>