<div class="row m-0">
  <div class="col-12 px-0 py-0">
    <div class="card px-0 m-0">

      <!-- Card Header -->
   

      <div class="card-header">
                <div class="row w-100">
                    <div
                        class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Approve Regularisation</h4>

                        <div class="dropdown d-flex align-items-center justify-content-center d-md-none">
                            <button class="btn bg-transparent text-white px-0 mt-1" type="button"
                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars fs-6"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">

                                <!-- <li><a class="dropdown-item">Add</a></li> -->
                                <!-- <li><a class="dropdown-item">PDF</a></li> -->
                            </ul>
                        </div>
                    </div>


                    <div
                        class="col-12 col-md-3 all-pickup-point-search-header d-flex align-items-center justify-content-md-end">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
                    </div>


                    <div class="col-12 col-md-3 d-flex justify-content-end align-items-center mt-md-0">
                        <div class="d-none d-md-flex">
                            <!-- <button class="btn btnheader mx-2">+ Add</button> -->
                            <!-- <button class="btn btnheader"><i class="fa-solid fa-file-arrow-down"></i>&nbsp;Download</button>-->
                        </div> 
                    </div>
                </div>
            </div>

      <!-- Card Body -->
      <div class="card-body px-0  m-2">
        <div class="">
          <table id="exportTable" class="table">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Apply Date</th>
                <th>Attendance Date</th>
                   <th>Emp Code</th>
                <th>Emp Name</th>
                <th>Type</th>
                 <th> CDO Hours</th>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Remarks</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

               <tbody>
                            <tr *ngFor="let item of filteredData(); let i = index">
                                <td data-label="S.No. : ">{{ i + 1 }}</td>
                                <td data-label="Apply Date: ">{{ item.dated }}</td>
                                <td data-label="Attendance Date : ">{{ item.attenDate }}</td>
                                <td data-label="Emp Code: ">{{ item.empcode }}</td>
                                <td data-label="Emp Name: ">{{ item.empname }}</td>
                                  <td data-label="Type: ">{{ item.description }}</td>
                                   <td data-label="CDO Hours: ">{{ item.cdoHours }}</td>
                                  <td data-label="In Time: ">{{ item.Intime }}</td>
                                   <td data-label="Out Time: ">{{ item.Outtime }}</td>
                                   <td data-label="Remarks: ">{{ item.remarks }}</td>
                                    <td data-label="Status: " [ngClass]="{
                  'text-success btn-success': item.Status === 'Approved',
                  'text-warning btn-warning': item.Status === 'Pending',

                  'text-danger btn-danger': item.Status === 'Disapproved'
                  }">{{ item.Status }}</td>
                                    <td class="pt-1 pb-0 m-0 d-flex align-items-center justify-content-center">
                                    <button class="btn btn-sm btn-outline px-1 mx-1 pt-1 pb-0 my-0" (click)="update(item.pk_inoutid)"><i
                                            class="fa-regular fa-pen-to-square fw-semibold"></i></button>
                                    <!-- <button class="btn btn-sm btn-outline px-1 mx-1 pt-1 pb-0 my-0"><i
                                            class="fa fa-trash text-dark"></i></button> -->
                                </td> 

                            </tr>

                        </tbody>
            <!-- <tbody>
              <tr *ngFor="let item of filteredData(); let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.dated }}</td>
                <td>{{ item.attenDate }}</td>
                <td>{{ item.empcode }}</td>
                <td>{{ item.empname }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.Intime }}</td>
                <td>{{ item.Outtime }}</td>
                <td>{{ item.remarks }}</td>
                <td>{{ item.Status }}</td>
                <td><button class="btn btn-sm btn-outline" (click)="update(item.pk_inoutid)">
                            <i class="fa-regular fa-pen-to-square"></i>
                          </button></td>
              </tr>
            </tbody> -->
          </table>
        </div>
      </div>
    </div>
</div>
</div>
