<nav class="navbar  navbar-expand-lg main-navbar sticky-top ">
  <div class="form-inline me-auto">
    <ul class="navbar-nav mr-3">

      <li>
        <a (click)="onToggleBodyClass()" data-bs-toggle="sidebar" class="nav-link-lg nav-link collapse-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-align-justify">
            <line x1="21" y1="10" x2="3" y2="10"></line>
            <line x1="21" y1="6" x2="3" y2="6"></line>
            <line x1="21" y1="14" x2="3" y2="14"></line>
            <line x1="21" y1="18" x2="3" y2="18"></line>
          </svg>
        </a>
      </li>

     
    </ul>

  </div>


  <ul style="margin-right: 500px; list-style-type: none;" class="header-title">

  <li class="">
     
    <p class="pt-4 text-primary fw-semibold d-flex align-items-center justify-content-center"> <span> <img src="assets/Image/onboarding.png" alt="Onboarding icon" width="130%" height="55px"></span> <span>Onboarding Verification</span></p>
  </li>
</ul>


</nav>
