<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row w-100">
          <!-- Title Section -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <h4 class="text-white">List Of Weekly Off</h4>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
          </div>
          <!-- Back Button -->
          <div class="col-sm-6 col-md-6 col-lg-4 d-flex align-items-center justify-content-end gap-2">
            <button class="btn btn-light" routerLink="/dash/adminAttendance/adminAttendancedashboard/WeeklyOff-Master-data">
              Add
            </button>

          </div>

        </div>
      </div>


      <!--  -->
      <div class="card-body">
        <div class="table-responsive table-invoice">
          <table Id="exportTable" class="table">
            <thead>
              <tr>
                <td>Sr.No</td>
                <td>Location</td>
                <td>Sun</td>
                <td>Mon</td>
                <td>Tue</td>
                <td>Wed</td>
                <td>Thur</td>
                <td>Fri</td>
                <td>Sat</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of filteredData() | paginate: { itemsPerPage: pageSize, currentPage:pageIndex ,totalItems: totalItems}; let i = index">
                <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                <td>{{ data.location }}</td>
                <td>{{ data.sun }}</td>
                <td>{{ data.mon }}</td>
                <td>{{ data.tue }}</td>
                <td>{{ data.wed }}</td>
                <td>{{ data.thur }}</td>
                <td>{{ data.fri }}</td>
                <td>{{ data.sat }}</td>
                <td>
                  <button class="btn btn-sm" (click)="editWeeklyOff(this.encryptionService.encryptText(data.pk_woffid))">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button class="btn btn-sm" (click)="deleteWeekOff(data.pk_woffid)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Pagination controls -->
          <pagination-controls (pageChange)="onPageChange($event)"  >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- message modal -->