<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">

            <!-- Card Header -->
            <div class="card-header bg-blue">
                <div class="row w-100">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h4> {{ isEditMode ? 'Update Training Institute Master' : 'Training Institute Master' }}</h4>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-md-end">
                        <button class="btn btnheader"
                            routerLink="/dash/training/trainingdashboard/TrainingInstitute_list">
                            Back
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body mt-4">
                <form [formGroup]="form" class="row row-cols-1 row-cols-md-3 g-4">

                    <div class="col">
                        <div class="form-group">
                            <label>Description<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" formControlName="description" (blur)="checkDuplicate(form.get('description')?.value)">
                            <div *ngIf="submitted && form.controls['description'].invalid && !form.get('description')?.errors?.['duplicate']" class="text-danger mt-1"
                                style="font-size: 12px;">
                                please enter Description .
                            </div>
                              <!-- Show validation error message from API only if it exists -->
                                  <div *ngIf="form.get('description')?.errors?.['duplicate']" 
                                       class="text-danger" style="font-size:10px;">
                                    {{ form.get('description')?.errors?.['duplicate'] }}
                                         </div>
                        </div>
                    </div>
       
                  
                    <div class="col">
                        <div class="form-group">
                            <label>Travel Mode<span style="color: red;">*</span></label>
                            <ng-select [items]="typeList" bindLabel="name" bindValue="value"
                                formControlName="type" placeholder="--Select --" class="w-100">
                            </ng-select>
                            <div *ngIf="submitted && form.get('type')?.invalid"
                                class="text-danger mt-1" style="font-size: 12px;">
                                please choose Type.
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <label for="isactive">Active</label>
                        <div class="form-group">
                            <input type="checkbox" id="isactive" formControlName="active" class="form-check-input" />

                        </div>
                    </div>


                    <div class="col">
                        <div class="form-group">
                            <label>Remark</label>

                            <textarea type="text" class="form-control" formControlName="remarks"></textarea>

                        </div>
                    </div>

                </form>

                <div class="row">
                    <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
                        <button type="submit" class="btn btn-primary btn-sm mx-1 px-2" (click)="submit()">
                            {{ isEditMode ? 'Update' : 'Save' }}
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm mx-1 px-2" (click)="resetForm()">
                            Reset
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>