.info2{
  background-color: #57DDAF !important;
  color:white !important;
}

.btn-outline-dark:hover{
  background-color: transparent !important;
  color:#2b2e41 !important;
}
.btn-outline-primary:hover{
  background-color: transparent !important;
  color:#3080e8;
}
.btn-outline-success:hover{
  background-color: transparent !important;
  color:#54ca68;
}
.btn-outline-danger:hover{
  background-color: transparent !important;
  color:#fc544b !important;
}