<div class="container-fluid mx-0 px-0 sticky-top">
  <div class="row mx-0">
    <div class="col-sm-11 col-md-11 col-lg-12 text-white px-0 mx-0 first-header-col">
      <nav
        class="bg-transparent m-0 mx-0 navbar navbar-expand-lg px-0 shadow-none sticky d-flex align-items-center justify-content-between ">

        <a class="navbar-brand text-white" href="#home">
          <img src="assets/Image/Logo/logo.png" alt="" class="w-25">
        </a>


        <!-- <a class="navbar-brand pt-0 px-2" ><button type="button"
            class="btn btn-primary btn-sm mt-1 px-3 fs-6" >EMP Login</button></a> -->




        <!-- if you show mobile view toggle icon then u can uncomment -->

        <!-- <button class="navbar-toggler text-white first-header-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button> -->




      </nav>
    </div>





    <!-- in mobile view offcanvas second header offcanavs section ------------ -->

    <div class="col-sm-1 col-md-1 col-lg-0 first-header-col sticky-top header-offcanvas">
      <nav>


        <button class="navbar-toggler text-white second-header-button" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
          style="background-color: #fad5c2;">
          <div class="offcanvas-header">
            <a class="navbar-brand text-white" href="#home"><img src="assets/Image/coolie-logo-bg.png" alt=""></a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav">






              <li class="d-flex">
                <a class="nav-link pt-0 px-2" routerLink="login" data-bs-dismiss="offcanvas"><button type="button"
                    class="btn btn-outline btn-sm mt-1 px-3 fs-6"
                    style="color:#2b2e41; border: 1px solid #2b2e41; background-color: white;">Login</button></a>

                <a class="nav-link pt-0 px-2" routerLink="signup" data-bs-dismiss="offcanvas"> <button type="button"
                    class="btn btn-primary btn-sm mt-1 px-3 fs-6 border-0"
                    style="background-color: #3080e8;">Register</button> </a>
              </li>

            </ul>


          </div>
        </div>

      </nav>
    </div>




  </div>
</div>