
<div class="row">
    <div class="col-12">
        <div class="card">



       
<!--  -->

 <!--  -->
 <div class="card-header bg-primary">
  <div class="row w-100">
    <!-- Title Section -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-between">
      <h4 class="text-white">List  of location</h4>
    </div>
 
    <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-center">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" (ngModelChange)="onSearchTextChanged()"/>
    </div>
    <!-- Back Button -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 py-1 py-lg-0 d-flex align-items-center justify-content-end">
      <button class="btn btnheader mx-1" routerLink="/dash/user/userdashboard/locationMaster"> Add </button>
      <button class="btn btnheader mx-1" (click)="exportToExcel()"> Download </button>
      

    </div>
  </div>
</div>

        <!--  -->

        <div class="card-body p-0">
          <div class="table-responsive table-invoice">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Sr&nbsp;No.	</th>
                      <th>Location</th>
                      <th>Location&nbsp;Code</th>
                      <th>Office</th>
                      <th>State</th>
                      <th>City</th>
                      <th>Alias</th>
                      <th>Login&nbsp;Allow</th>
                      
                      <th>Action</th>
                    </tr>
                                  
                  </thead>
                  <tbody>
                     <tr *ngFor=" let item of filteredData() | paginate : { itemsPerPage: pageSize, currentPage: pageIndex ,totalItems: totalItems };let i = index">
                      <td>{{(pageIndex-1)* pageSize+i+1}}</td>
                      <td>{{item.locname}}</td>
                      <td>{{item.code}}</td>
                      <td>{{item.office}}</td>
                      <td>{{item.statename}}</td>
                      <td>{{item.cityname}}</td>
                      <td>{{item.locationAlias}}</td>
                      <td>{{item.loginallowAlias}}</td>

                                       <td>
                      <button class="btn btn-sm btn-outline" > <i class="fa-regular fa-pen-to-square" (click)="edit(encryption.encryptText(item.pk_locid))"></i></button>
                      <button class="btn btn-sm btn-outline" ><i class="fa fa-trash" (click)="delete(item.pk_locid)"></i> </button>
                                    
                  </td> 

                            </tr>   
                  </tbody>
                </table>
      
                <pagination-controls
                (pageChange)="onPageChange($event)"
                [responsive]="true">
              </pagination-controls>
            
                    <ng-template #noData>
                      <tr>
                        <td colspan="4" class="text-center">No data available</td>
                      </tr>
                    </ng-template>
              
            </div>
      </div>

    </div>
</div>
</div>