<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <!-- Card Header -->
            <div class="card-header bg-primary">
                <div class="row w-100">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h4 class="">State Master</h4>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 d-flex align-items-center justify-content-end">
                        <button class="btn btn-light" (click)="view()">
                            Back
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body mt-4">
                <form [formGroup]="StatemasterForm" (ngSubmit)="onSubmit()" class="row row-cols-1 row-cols-md-3 g-4 state-master-from">
                    <div class="col">
                        <div class="form-group">
                            <label for="Code">State<span class="text-danger">*</span></label>
                            <input id="Code" type="text" class="form-control flex-grow-1" formControlName="description">
                            <div *ngIf="StatemasterForm.get('description')?.errors?.['duplicate']"
                                class="text-danger" style="font-size:10px;">
                                {{ StatemasterForm.get('description')?.errors?.['duplicate'] }}
                            </div>
                            <span *ngIf="showError && StatemasterForm.controls['description'].invalid && !StatemasterForm.get('description')?.errors?.['duplicate']"
                                class="text-danger mt-1" style="font-size: 12px;">
                                Please enter state description.
                            </span>
                            <span *ngIf="StatemasterForm.get('description')?.hasError('maxlength')"
                                class="text-danger mt-1" style="font-size: 12px;">
                                Maximum 100 characters allowed.
                            </span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group pt-md-4 mt-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="lwf_applicable"
                                    formControlName="lwf_applicable">
                                <label class="form-check-label" for="lwf_applicable">LWF Applicable</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group pt-md-4 mt-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="pt_applicable"
                                    formControlName="pt_applicable">
                                <label class="form-check-label" for="pt_applicable">PT Applicable</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="pt_number">PT Number</label>
                            <input id="pt_number" type="text" class="form-control flex-grow-1" formControlName="pt_number">
                           
                           
                        </div>
                    </div>

                      <div class="col">
                        <div class="form-group">
                            <label for="lwf_number">LWF Number</label>
                            <input id="lwf_number" type="text" class="form-control flex-grow-1" formControlName="lwf_number">
                           
                           
                        </div>
                    </div>

                      <div class="col">
                        <div class="form-group">
                            <label for="esi_number">ESI Number</label>
                            <input id="esi_number" type="text" class="form-control flex-grow-1" formControlName="esi_number">
                           
                           
                        </div>
                    </div>
                     <div class="col">
                        <div class="form-group">
                            <label for="pf_number">PF Number</label>
                            <input id="pf_number" type="text" class="form-control flex-grow-1" formControlName="pf_number">
                           
                           
                        </div>
                    </div>
                      <div class="col">
                        <div class="form-group">
                            <label for="minimum_wages">Minimum Wages</label>
                            <input id="minimum_wages" type="number" class="form-control flex-grow-1" formControlName="minimum_wages">
                           
                           
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
                            <button type="submit" class="btn btn-primary  btn-sm mx-1 px-2">
                                {{ isEditMode ? 'Update' : 'Save' }}
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-sm mx-1 px-2"
                                (click)="resetForm()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>