<div class="row">
  <div class="col-12">
    <div class="card">
      <!--  -->
      <div class="card-header bg-primary">
          <div class="row w-100">
            <!-- Title Section -->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-between">
              <h4 class="text-white">Head Master List</h4>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-center">
              <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" (ngModelChange)="onSearchTextChanged()" />
            </div>
         
            <!-- Back Button -->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-md-end">
              <button class="btn btn-light" routerLink="/dash/user/userdashboard/head-master">
                  Add
            </button>
            <button class="btn btn-light mx-1" (click)="exportToExcel()">
              Download
            </button>
            </div>

          </div>
        </div>

      
      <!--  -->
      <div class="card-body">
        <div class="table-responsive table-invoice">
          <table Id="exportTable"  class="table">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Description</th>
                <th>Short Description</th>
                <th>Head Type</th>
                <th>Mapping</th>
                <th>Order Level </th>
                <th>Action</th>
              </tr>
            </thead>
              <tbody>
                <tr *ngFor="let item of filteredData() 
                | paginate : { itemsPerPage: pageSize, currentPage: pageIndex ,totalItems: totalItems };let i = index">
            <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
             
                    <td>{{ item.description }}</td>
                    <td>{{ item.shortdesc }}</td>
                    <td>{{ item.headtype }}</td>
                    <td>{{ item.mapping }}</td>
                    <td>{{ item.orderlevel }}</td>
                   
                    <td>
                      <button class="btn btn-sm btn-outline"  (click)="isUpdate(encryptionService.encryptText(item.pk_headid.toString()))" ><i class="fa-regular fa-pen-to-square"></i></button>
                          
                      <button class="btn btn-sm btn-outline"(click)="deleteHead(item.pk_headid)"><i class="fa fa-trash"></i></button>
                    </td>
                    
                  </tr>
             </tbody>
          </table>

          <pagination-controls
                    (pageChange)="onPageChange($event)"
                    [responsive]="true">
                  </pagination-controls>
                
                        <ng-template #noData>
                          <tr>
                            <td colspan="4" class="text-center">No data available</td>
                          </tr>
                        </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- message modal -->


