.scroll-active {
  max-height: 600px; /* or any height */
  overflow-y: auto;
  position: relative;
}


.table-invoice.scroll-active {
  max-height: 600px;
  overflow-y: auto;
}

.table thead th {

  position: sticky;
  top: 0;
  background: #f8f9fa; /* Or match your theme */
  z-index: 2;
}
.table-responsive{
  overflow-x: auto;
}
.table td {
  white-space: nowrap;
}
.table th {
  white-space: nowrap;
}
