
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row w-100">
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-between">
                    <h4>List Of Due Clearence</h4>
                   
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-md-end">
                    <button class="btn btnheader" routerLink="/dash/hr/hrdashboard/Due_Clearence">
                        Add
                      </button>
                  </div>
              
                  
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-invoice">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sr.</th>
                            <th>Department</th>
                            <th>Order Number</th>
                            <th>Is Active</th>                
                            <th>Action</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of DueclearencemasterList; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td> {{item.Department}}</td>
                            <td>{{item.OrderNumber}}</td>
                            <td> {{item.IsActive}}</td>
                      
                     
                            <td>
                                <button class="btn btn-sm btn-outline" (click)="edit(item.id)" ><i class="fa-regular fa-pen-to-square" style="color:#3080e8; font-size: 14px;"></i></button>
                              
                               <button class="btn btn-sm btn-outline" (click)="delete(item.id)"><i class="fa fa-trash" style="color:#3080e8; font-size: 14px;"></i></button>
                              </td>
                          </tr> 
                        </tbody>
                      </table>
            
                    
                  </div>
            </div>

            <div class="card-header">
              <div class="row w-100">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-between">
                  <h4>List of Parameters</h4>
                 
                </div>
    
            
                
              </div>
          </div>
          <div class="card-body">
              <div class="table-responsive table-invoice">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Sr.</th>
                          <th>Description</th>
                          <th>Order Number</th>
                          <th>Input Type</th>
                          <th>Is Active</th>                
                          <th>Action</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ParametersList; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td> {{item.Description}}</td>
                          <td>{{item.OrderNumber}}</td>
                          <td>{{item.InputType}}</td>
                          <td> {{item.IsActive}}</td>
                    
                   
                          <td>
                              <button class="btn btn-sm btn-outline" (click)="edit(item.id)" ><i class="fa-regular fa-pen-to-square" style="color:#3080e8; font-size: 14px;"></i></button>
                            
                             <button class="btn btn-sm btn-outline" (click)="delete1(item.id)"><i class="fa fa-trash" style="color:#3080e8; font-size: 14px;"></i></button>
                            </td>
                        </tr> 
                      </tbody>
                    </table>
          
                  
                </div>
          </div>
        </div>
    </div>
</div>