<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- heading -->
      <div class="card-header bg-blue">
        <div class="row w-100">
          <!-- Title Section -->
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-start">
            <h4 class="text-white">Religion Master List</h4>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
          </div>
          <!-- Back Button -->
          <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-end ms-auto gap-2">
            <button class="btn btn-light" routerLink="/dash/user/userdashboard/regligionMaster">
              Add
            </button>
            <button class="btn btn-light" (click)="exportToExcel()">
              Download
            </button>
          </div>
        </div>
      </div>

      <!-- Table Section -->
      <div class="mt-4">
        <table id="exportTable" class="table table-bordered">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Religion</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filteredData() | paginate : { itemsPerPage: pageSize, currentPage: pageIndex ,totalItems: totalItems }; let i = index">
              <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
              <td>{{ data.religiontype}}</td>
              <td>
                <button class="btn " (click)="editReligion(this.encryptionService.encryptText(data.pk_religionid))">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn" (click)="deleteReligion(data.pk_religionid)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="onPageChange($event)"  >
        </pagination-controls>
        
        <ng-template #noData>
          <tr>
            <td colspan="3" class="text-center">No data available</td>
          </tr>
        </ng-template>
      </div>
    </div>
  </div>
</div>