
@media only screen and (max-width: 500px) {
    .register-form-section img{

 padding-bottom:15%;

     }
   }




   .register-form-section h2{
    color: #3080e8 !important;
}

.register-form-section p{
    color: #2b2e41;
}



.register-form-section button:hover{
    color: white !important;
    background-color: #2b2e41 !important;
    /* border: none; */
   
}

.google-icon{
  background: linear-gradient(#f30101, 
  #ffd000,  #0420f7, #07f51b); 
-webkit-text-fill-color: transparent; 
/* -webkit-background-clip: text; */
/* color:red !important;  */
}




