<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- main header  -->

      <div class="card-header bg-blue py-lg-1 mt-0">
        <div class="col-sm-12 col-md-12 col-lg-3 col-12">

          <div class="row w-100">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
              <h4 class="text-white">Change Employee Password</h4>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-7 col-12">
          <div class="row w-100">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-common-search (filtersChanged)="handleFilters($event)"></app-common-search>
            </div>
          </div>
        </div>



      </div>

      <!-- main header close -->


      <div class="card-body m-3">
        <form [formGroup]="empForm">

          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <label for="employeeCode">Employee Code<span style="color: red;">*</span></label>
              <ng-select placeholder="select employee" [items]=" EmployeeList" bindLabel="name" bindValue="value"
                formControlName="empcode"></ng-select>
              <span *ngIf="showError && empForm.controls['empcode'].invalid" class="text-danger mt-1"
                style="font-size: 12px;">
                Please choose employee.
              </span>
            </div>
            <div class="col">
              <label for="password">Password</label>
              <input id="password" type="text" formControlName="password" class="form-control" />

            </div>





          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary mx-1" (click)="onSave()">Reset Password</button>
            <button type="reset" class="btn btn-outline-dark mx-1">Reset</button>
          </div>
        </form>

      </div>


    </div>
  </div>
</div>
