
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
         <!--  -->
    <div class="card-header bg-blue ">
        <div class="row w-100 ">
      <div class="col-sm-12 col-md-6 col-lg-6 ">                    
        <h4>
            Export & Import Attendance</h4>   
      </div>
     
  </div>
  
      
      </div>
      <div class="card-body mt-4">
        <form [formGroup]="ExportForm"class="row row-cols-1 row-cols-md-3">

            <div class="col">
                <label>Employee Code</label>
                <div class="form-group">
                    <input type="text"class="form-control"formControlName="employeeCode">
                </div>
            </div>
            <div class="col">
                <label>Employee Name</label>
                <div class="form-group">
                    <input type="text"class="form-control"formControlName="employeeName" >
                </div>
            </div>

            <div class="col">
                <label>Office Type</label>
           
                <div class="form-group">
                  <ng-select id="year" [items]="selects" bindLabel="name" bindValue="value"
                  formControlName="officeType" placeholder="--Select --"
                  class="w-100"></ng-select>
                </div>  
            </div>
            <div class="col">
                <label>Designation</label>
           
                <div class="form-group">
                  <ng-select id="year" [items]="selects" bindLabel="name" bindValue="value"
                  formControlName="designation" placeholder="--Select --"
                  class="w-100"></ng-select>
                </div> 
            </div>

          <div class="col">
            <label>Location</label>
            <ng-select 
              [items]="locations"
              bindLabel="name"
              bindValue="value"
              [multiple]="true"
              [(ngModel)]="selectedLocations"
              [closeOnSelect]="false"
              placeholder="--Select Locations--"
              class="w-100">
              
              <!-- Custom Checkbox for Select All -->
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div *ngIf="index === 0">
                  <input 
                    type="checkbox" 
                    (change)="toggleSelectAll($event)" 
                    class="form-check-input fs-6 mx-1"
                    [checked]="isAllSelected()" /> 
                  <strong>Select All</strong>
                </div>
                <div *ngIf="index !== 0">
                  <input 
                    type="checkbox" 
                    class="form-check-input fs-6 mx-1"
                    [checked]="selectedLocations.includes(item.value)"
                    (change)="toggleLocation(item.value)" /> 
                  {{ item.name }}
                </div>
              </ng-template>
          
            </ng-select>
          </div>
          <div class="col">
            <label>Department</label>
            <ng-select 
              [items]="departments"
              bindLabel="name"
              bindValue="value"
              [multiple]="true"
              [(ngModel)]="selectedDepartments"
              [closeOnSelect]="false"
              placeholder="--Select Departments--"
              class="w-100">
              
              <!-- Custom Checkbox for Select All -->
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div *ngIf="index === 0">
                  <input 
                    type="checkbox" 
                    class="form-check-input fs-6 mx-1"
                    (change)="toggleSelectAllDepartments($event)" 
                    [checked]="isAllSelectedDepartments()" /> 
                  <strong>Select All</strong>
                </div>
                <div *ngIf="index !== 0">
                  <input 
                    type="checkbox" 
                    class="form-check-input fs-6 mx-1"
                    [checked]="selectedDepartments.includes(item.value)"
                    (change)="toggleDepartments(item.value)" /> 
                  {{ item.name }}
                </div>
              </ng-template>
          
            </ng-select>
          </div>
           

                <div class="col">
                    <label>Posting City</label>
                
                    <div class="form-group">
                      <ng-select id="year" [items]="selects" bindLabel="name" bindValue="value"
                      formControlName="postingCity" placeholder="--Select --"
                      class="w-100"></ng-select>
                    </div>  
                </div>
                <div class="col">
                    <label>Nature Type</label>
                
                    <div class="form-group">
                      <ng-select id="year" [items]="selects" bindLabel="name" bindValue="value"
                      formControlName="natureType" placeholder="--Select --"
                      class="w-100"></ng-select>
                    </div> 
                </div>
                <div class="col">
                    <label>Month</label>               
                    <div class="form-group">
                      <ng-select id="year" [items]="months" bindLabel="name" bindValue="value"
                      formControlName="month" placeholder="--Select --"
                      class="w-100"></ng-select>
                      <span *ngIf="showError && ExportForm.controls['month'].invalid" class="text-danger mt-1" style="font-size: 12px;">
                        Please enter Month.
                      </span>
                    </div> 
                </div>
                <div class="col">
                    <label>Year</label>
                
                    <div class="form-group">
                      <ng-select id="year" [items]="years" bindLabel="name" bindValue="value"
                      formControlName="year" placeholder="--Select --"
                      class="w-100"></ng-select>
                      <span *ngIf="showError && ExportForm.controls['year'].invalid" class="text-danger mt-1" style="font-size: 12px;">
                        Please enter Year.
                       </span>
                    </div> 
                </div>
                <div class="col">
                    <label>Grade</label>
                
                    <div class="form-group">
                      <ng-select id="year" [items]="selects" bindLabel="name" bindValue="value"
                      formControlName="grade" placeholder="--Select --"
                      class="w-100"></ng-select>
                    </div>    
                </div>
               
                <div class="col">
                    <label>Sort By</label>
                
                    <div class="form-group">
                      <ng-select id="year" [items]="selects" bindLabel="name" bindValue="value"
                      formControlName="sortBy" placeholder="--Select --"
                      class="w-100"></ng-select>
                    </div>    
                </div>
        </form>
        <div class="row">
            <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
           
                <button type="submit" class="btn btn-outline-dark mx-1"(click)="resetForm()">Reset</button>
                <button type="submit" class="btn btn-primary mx-1"(click)=" OnSubmit()">View</button>
              </div>
        </div>    
      </div>
  <!--  -->
  <div class="card-header bg-blue ">
    <div class="row w-100 ">
  <div class="col-sm-12 col-md-6 col-lg-6  ">
       <h4 class="">Import Attendance</h4></div>

    </div>

 </div>
<div class="card-body mt-4">
  <form [formGroup]="ImportForm"class="row row-cols-1 row-cols-md-3 g-4">
  
        <div class="col"><label>Select (Attendance Excel) File</label>
            <div class="form-group">
                <input  type="file" class="form-control flex-grow-1" formControlName="file">
                
            </div>                
        </div>
     

  </form>
  <div class="row">
    <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
   
        <button type="button" class="btn btn-outline-dark mx-1"(click)="resetForm()">Reset</button>
        <button type="button" class="btn btn-primary  mx-1">Import</button>                   
    </div>
</div>
</div>

     
  </div>
</div>    

</div>