<div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Header with Export Button -->
        <div class="card-header bg-blue">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h4 class="mb-0 text-white">Export/Import Employee</h4>
                <button class="btn bg-white text-primary d-flex align-items-center px-3 ms-auto" (click)="exportTemplate()">
                  <i class="fa fa-download me-2"></i> Export Blank Excel
                </button>
              </div>
              
              
        </div>
  
        <!-- Body with inline import UI -->
        <div class="card-body">
  
            <form  [formGroup]="EmployeeEmport" (ngSubmit)="onSubmit()"  class="row g-2 align-items-end mb-4">
              <!-- File Input on the left -->
              <div class="col-md-4">
                <label class="form-label">Select File</label>
                <input type="file" class="form-control" formControlName="file" (change)="onFileChange($event)">
                <div *ngIf="EmployeeEmport.get('file')?.hasError('required') && EmployeeEmport.get('file')?.touched" class="text-danger" style="font-size: 12px;">
                    File is required.
                  </div>
                
                  <!-- Validation message for invalid file type -->
                  <div *ngIf="EmployeeEmport.get('file')?.hasError('pattern') && EmployeeEmport.get('file')?.touched" class="text-danger" style="font-size: 12px;">
                    Please upload a valid file (only .xlsx files allowed).
                  </div>
              </div>
          
              
              

              <!-- Right-aligned Buttons -->
              <div class="col d-flex justify-content-end ms-auto gap-2">
               <div class="col-md-4">
                <input
                *ngIf="importedData.length > 0"
                 type="text"
                 class="form-control"
                 [formControl]="searchControl"
                 placeholder="Search..."
               />
               </div>
                <button type="submit" class="btn btn-primary">Import</button>
                <button type="reset" class="btn btn-outline-dark">Reset</button>
                
              </div>
            </form>

            <div class="table-responsive mt-4" *ngIf="importedData.length >0">
              <table class="table">
                <thead>
                  <tr>
                        <th>Status</th>
                    <th>Empcode</th>
                    <th>EmpName</th>
                    <th>FatherName</th>
                    <th>City</th>
                    <th>LocationCode</th>
                    <th>Location</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Nature</th>
                    <th>Grade</th>
                    <th>ReportingManager</th>
                    <th>HOD</th>
                    <th>Bank</th>
                    <th>AccountNo</th>
                    <th>Ifsccode</th>
                    <th>DOB</th>
                    <th>DOJ</th>
                
                    <th>PFApp</th>
                    <th>ESIApp</th>
                    <th>PensionApp</th>
                    <th>VOLPFApp</th>
                    <th>ProfTaxApp</th>
                    <th>PANNo</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Religion</th>
                    <th>Category</th>
                    <th>Paymode</th>
                    <th>AdharcardNo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of filteredData">

                    <td 
                    [ngClass]="{
                      'text-success': row.status === 'Updated',
                      'text-danger': row.status !== 'Updated'
                    }"
                    style="white-space: nowrap;"
                  >
                    {{ row.status }}
                  </td>
                    <td>{{ row.empcode }}</td>
                    <td>{{ row.empName }}</td>
                    <td>{{ row.fatherName }}</td>
                    <td>{{ row.city }}</td>
                    <td>{{ row.locationCode }}</td>
                    <td>{{ row.location }}</td>
                    <td>{{ row.department }}</td>
                    <td>{{ row.designation }}</td>
                    <td>{{ row.nature }}</td>
                    <td>{{ row.grade }}</td>
                    <td>{{ row.reportingManager }}</td>
                    <td>{{ row.hod }}</td>
                    <td>{{ row.bank }}</td>
                    <td>{{ row.accountNo }}</td>
                    <td>{{ row.ifsccode }}</td>
                    <td>{{ row.dobString }}</td>
                    <td>{{ row.dojString }}</td>
               
                    <td>{{ row.pfApp }}</td>
                    <td>{{ row.esiApp }}</td>
                    <td>{{ row.pensionApp }}</td>
                    <td>{{ row.volpfApp }}</td>
                    <td>{{ row.profTaxApp }}</td>
                    <td>{{ row.panNo }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.gender }}</td>
                    <td>{{ row.religion }}</td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.paymode }}</td>
                    <td>{{ row.adharcardNo }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            
          </div>
          
      </div>
    </div>
  </div>