<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row w-100">
                    <div
                        class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-between">
                        <h4>
                            List of Training Institute</h4>

                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-center">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-md-end">
                        <button class="btn btnheader"
                            routerLink="/dash/training/trainingdashboard/TrainingInstitute">
                            Add
                        </button>
                        <button class="btn btn-light mx-1" (click)="exportToExcel()">
                            Download
                        </button>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-invoice">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S. No.</th>
                                <th>Institute</th>
                                <th>Type</th>
                                <th>Active</th>
                                <th>Remarks</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="filteredData().length === 0">
                                <td colspan="6" class="text-center">No data available</td>
                            </tr>
                            <tr
                                *ngFor=" let item of filteredData() 
                        | paginate : { itemsPerPage: pagesize, currentPage: pageindex ,totalItems: totalItems };let i = index">

                                <td>{{(pageindex-1)* pagesize+i+1}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.type}}</td>
                                <!-- <td>{{item.active}}</td> -->
                               <td [ngClass]="item.active?.toString().trim().toLowerCase() === 'yes' ? 'text-success' : 'text-danger'">
  {{ item.active }}
</td>

                                <td>{{item.remarks}}</td>


                                <td>
                                    <button class="btn btn-sm btn-outline" (click)="isUpdate(item.pk_instituteId)">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                    <button class="btn btn-sm btn-outline" (click)="delete(item.pk_instituteId)">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--for pagination-->
                    <pagination-controls (pageChange)="onPageChange($event)" [responsive]="true">
                    </pagination-controls>

                    <ng-template #noData>
                        <tr>
                            <td colspan="4" class="text-center">No data available</td>
                        </tr>
                    </ng-template>
                </div>
            </div>


        </div>
    </div>
</div>