<div class="row">
  <div class="col-12">
    <div class="card">

      <!-- Header -->
      <div class="card-header bg-primary">
        <div class="row w-100">

          <div class="col-md-4 d-flex align-items-center">
            <h4 class="text-white">List of Branch</h4>
          </div>

          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <input type="text" class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchText" />
          </div>

          <div class="col-md-4 d-flex align-items-center justify-content-end">
            <button class="btn btnheader mx-1"
              routerLink="/dash/user/userdashboard/BranchMaster">
              Add
            </button>

            <button class="btn btnheader mx-1"
              (click)="exportToExcel()">
              Download
            </button>
          </div>

        </div>
      </div>

      <!-- Table -->
      <div class="card-body p-0">
        <div class="table-responsive table-invoice">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr No.</th>
                <th>Branch Name</th>
                <th>Branch Head</th>
                <th>Phone</th>
                <th>City</th>
                <th>State</th>
                <th>Region</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of filteredData() 
                | paginate : { itemsPerPage: pageSize, currentPage: pageIndex ,totalItems: totalItems }; let i = index">

                <td>{{(pageIndex-1)*pageSize + i + 1}}</td>
                <td>{{ item.BranchName }}</td>
                    <td>{{ item.BranchHeadName }}</td>
                <td>{{ item.PhoneNumber }}</td>
                <td>{{ item.CityName }}</td>
                <td>{{ item.StateName }}</td>
                <td>{{ item.ZoneName }}</td>
                <td>{{ item.Address }}</td>

                <td>
                  <button class="btn btn-sm btn-outline">
                    <i class="fa-regular fa-pen-to-square"
                      (click)="edit(item.pk_branchId)"></i>
                  </button>

                  <button class="btn btn-sm btn-outline">
                    <i class="fa fa-trash"
                      (click)="delete(item.pk_branchId)"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>

          <pagination-controls (pageChange)="onPageChange($event)">
          </pagination-controls>

        </div>
      </div>

    </div>
  </div>
</div>