
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
         <!--  -->
         <div class="card-header bg-primary py-lg-1 mt-0">
          <div class="row w-100 align-items-center">
         
            <!-- Title Section -->
            <div class="col-12 col-md-3">
              <h4>Salary Lock</h4>   
            </div>
            <!-- Search Section -->
            <div class="col-12 col-md-7 mt-2 mt-md-0">
              <app-common-search (filtersChanged)="handleFilters($event)"></app-common-search>
            </div>
            
          </div>
        </div>
      <div class="card-body mt-4">
        <form [formGroup]="EmployeeForm" (ngSubmit)="OnVeiw()">
        <div class="row row-cols-1 row-cols-md-3 g-4">


                <div class="col">
                    <label>Month</label>
                
                    <div class="form-group">
                      <ng-select id="fk_monthId" [items]="months" bindLabel="name" bindValue="value"
                      formControlName="fk_monthId" placeholder="--Select --"
                      class="w-100"></ng-select>
                      <span *ngIf="showError && EmployeeForm.controls['fk_monthId'].invalid" class="text-danger mt-1" style="font-size: 12px;">
                        Please enter Month.
                      </span>
                    </div> 
                </div>

              <div class="col">
                  <label>Year</label>
              
                  <div class="form-group">
                    <ng-select id="fk_yearId" [items]="years" bindLabel="name" bindValue="value"
                    formControlName="fk_yearId" placeholder="--Select --"
                    class="w-100"></ng-select>
                    <span *ngIf="showError && EmployeeForm.controls['fk_yearId'].invalid" class="text-danger mt-1" style="font-size: 12px;">
                      Please enter Year.
                    </span>
                  </div> 
              </div>
             
               <div class="col" *ngIf="isContractApplicable">
                  <label>Contractor Name</label>
              
                  <div class="form-group">
                    <ng-select id="year" [items]="CostCenter"
                     bindLabel="name"
                      bindValue="value"
                    formControlName="fk_costcentreid" placeholder="--Select --"
                    class="w-100"></ng-select>
                   
                  </div> 
                 </div>
          </div>
            
          <div class="row">
            <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
              <button type="submit" class="btn btn-primary mx-1" >Veiw</button>
                <button type="reset" class="btn btn-outline-dark mx-1" >Reset</button>
             
              </div>
        </div> 

        <!--  -->
      </form>
              <!-- List1 of Employee -->
       <div *ngIf="showEmployeeList && (
        (EmployeeList.salarylocked?.length > 0) ||
        
        (EmployeeList.salaryunlock?.length > 0)
      )">
      <div class="card-header">
        <div class="row w-100 ">
      <div class="col-sm-12 col-md-6 col-lg-6 text-primary">                    
        <h4  class="text-primary">List of Employee (Salary Not Locked)</h4>   
      </div>
    </div>
      <!-- 🔵 Unprocessed Attendance -->
  <div class="d-flex justify-content-between align-items-center">
    <input
      type="text"
      class="form-control w-auto"
      placeholder="Search employee..."
      [(ngModel)]="searchTextUnUnLock"
      (input)="filtersalaryData('UnLocked')" />
  </div>
      </div>

        <div class="table-responsive table-invoice">
            <table class="table table-bordered">
                <thead>
                  <tr>
                
                    <th>Sr.</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Department</th>
                    <th>Designation</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredUnLockedList | paginate: { id: 'UnLocked', itemsPerPage: pageSize1, currentPage: pageIndex1,totalItems:salaryunlockcount }; let i = index">

                    <td> {{(pageIndex1-1)*pageSize1+i+1}}</td>
                    <td>{{item.empcode}}</td>
                    <td>{{item.empname}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.designation}}</td>
                  </tr> 
                </tbody>
              </table>
              <!-- <pagination-controls
              (pageChange)="onpageChange($event)">
              totalItems=totalcount
              </pagination-controls> -->
              <pagination-controls  
              *ngIf="salaryunlockcount > 0"
              (pageChange)="onpageChange1($event)"
              id="UnLocked"
              totalItems="salaryunlockcount"
              itemsPerPage="pageSize1">
            </pagination-controls>
          
          </div>
  

<!--  -->

<!-- List2 of employee -->

  <div class="card-header">
    <div class="row w-100 ">
  <div class="col-sm-12 col-md-6 col-lg-6">                    
    <h4 class="text-primary">List of Employee (Salary Locked)</h4>   
  </div>
</div>
<div class="d-flex justify-content-between align-items-center">
  <input
    type="text"
    class="form-control w-auto"
    placeholder="Search employee..."
    [(ngModel)]="searchTextLock"
    (input)="filtersalaryData('Locked')" />
</div>
  </div>

    <div class="table-responsive table-invoice">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr.</th>
                <th>Code</th>
                <th>Name</th>
                <th>Location</th>
                <th>Department</th>
                <th>Designation</th>
                
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of filteredLockedList | paginate: { id: 'Locked', itemsPerPage: pageSize2, currentPage: pageIndex2,totalItems:salarylockedcount}; let i = index">

                <td> {{(pageIndex2-1)*pageSize2+i+1}}</td>
                <td>{{item.empcode}}</td>
                <td>{{item.empname}}</td>
                <td>{{item.location}}</td>
                <td>{{item.department}}</td>
                <td>{{item.designation}}</td>
              </tr> 
            </tbody>
          </table>
          <!-- <pagination-controls
          (pageChange)="onpageChange1($event)">
          totalItems=totalcount
          </pagination-controls> -->
          <pagination-controls  
          *ngIf="salarylockedcount > 0"
          (pageChange)="onpageChange($event)"
          id="Locked"
          totalItems="salarylockedcount"
          itemsPerPage="pageSize2">
        </pagination-controls>
          <div class="row">
            <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
           
                <button type="submit" class="btn btn-outline-dark mx-1" (click)="updateLock()" >Lock</button>
                <button type="submit" class="btn btn-primary mx-1"(click)="updateunLock()" >Unlock</button>
              </div>
        </div>
      </div>

</div>


      </div>




  </div>
</div>    

</div>