 
 <div class="row">
 <div class="login-box text-center">
    <div class="login-icon">
     <img src="assets/Image/profile_images.png" height="70px" width="70px" class="" alt="">
    </div>
    <h6 class="text-primary fw-semibold">Employee Login</h6>

    <form>
      <div class="mb-3 text-start">
        <label for="email" class="form-label">Email address</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          placeholder="Enter your email">
      </div>

      <div class="mb-3 text-start">
        <label for="password" class="form-label">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          placeholder="Enter your password">
      </div>

      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

      <div class="text-small d-flex align-items-center justify-content-around">
        <a href="#" class="text-decoration-none d-block">Forgot Password?</a>
        <a href="#" class="text-decoration-none">Company Login</a>
      </div>
    </form>
  </div>
  </div>