.card-header{
    background-color: #3080e8;

    font-weight: bold;
  }
  .ngx-pagination .current {
  padding: .1875rem .625rem;
  background:  #3080e8 !important;
  color: #fefefe;
  cursor: default;
  }
  