<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row w-100">
          <div class="col-sm-12 col-md-3 col-lg-3 col-xxl-3 d-flex align-items-center justify-content-between">
            <h4>List of Loan/Advance Details</h4>
          </div>
          <!-- <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-center">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
          </div> -->
           <div class="col-sm-12 col-md-7 col-lg-7 col-xxl-7">
          <div class="row w-100">
           
              <app-common-search (filtersChanged)="handleFilters($event)"></app-common-search>
            
          </div>
        </div>
          <div class="col-sm-12 col-md-2 col-lg-2 col-xxl-2 d-flex align-items-center justify-content-md-end">
            <button class="btn btnheader" routerLink="/dash/payroll/payrolldashboard/loanTransaction">
              Add
            </button>
          </div>
        </div>
      </div>

      <div class="card-body mt-2">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col">
            <label>Employee Code</label>
            <ng-select [items]="EmployeeList" id="fk_empid" bindLabel="name" bindValue="value"
                formControlName="fk_empid" placeholder="--Select Employee--" 
                (change)="onEmpidChange($event)"
                class="w-100"
                [searchable]="true"
                (search)="onEmployeeSearch($event)" [loading]="loadingEmployees" loadingText="Searching employees...">
            </ng-select>
        </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive table-invoice">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr.</th>
                <th>Emp Code</th>
                <th>Emp Name</th>
                <th>Loan/Adv. Type</th>
                <th>Dated</th>
                <th>Total Amount</th>
                <th>Tot. Installment</th>
                <th>Tot. left Installment</th>
                <th>Balance Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let data of filteredData() | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalItems }; let i = index">
                <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                <td>{{ data.empcode }}</td>
                <td>{{ data.empname }}</td>
                <td>{{ data.loantype }}</td>
                <td>{{ data.ldated }}</td>
                <td>{{ data.lamount }}</td>
                <td>{{ data.noOfInstalments }}</td>
                <td>{{ data.leftInstalments }}</td>
                <td>{{ data.balAmount }}</td>
                <td>
                  <button class="btn btn-sm btn-outline"
                    (click)="editLoanTransaction(this.encryptionService.encryptText(data.pk_lid))">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                  <button class="btn btn-sm btn-outline" (click)="deleteLoanTransaction(data.pk_lid)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
          (pageChange)="onPageChange($event)"
            totalItems="totalItems"
            itemsPerPage="pageSize">
          </pagination-controls>
        </div>
      </div>

    </div>
  </div>
</div>