
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
         <!--  -->
         <div class="card-header bg-primary py-lg-1 mt-0">
          <div class="row w-100 align-items-center">
         
            <!-- Title Section -->
            <div class="col-12 col-md-3">
              <h4>Salary Approve</h4>   
            </div>
            <!-- Search Section -->
            <div class="col-12 col-md-7 mt-2 mt-md-0">
              <app-common-search (filtersChanged)="handleFilters($event)"></app-common-search>
            </div>
            
          </div>
        </div>
      <div class="card-body mt-4">
        <form [formGroup]="EmployeeForm" (ngSubmit)="OnVeiw()">
              <!-- <form [formGroup]="EmployeeForm"> -->
        <div class="row row-cols-1 row-cols-md-3 g-4">


                <div class="col">
                    <label>Month</label>
                
                    <div class="form-group">
                      <ng-select id="fk_monthId" [items]="months" bindLabel="name" bindValue="value"
                      formControlName="fk_monthId" placeholder="--Select --"
                      class="w-100"></ng-select>
                      <span *ngIf="showError && EmployeeForm.controls['fk_monthId'].invalid" class="text-danger mt-1" style="font-size: 12px;">
                        Please enter Month.
                      </span>
                    </div> 
                </div>

              <div class="col">
                  <label>Year</label>
              
                  <div class="form-group">
                    <ng-select id="fk_yearId" [items]="years" bindLabel="name" bindValue="value"
                    formControlName="fk_yearId" placeholder="--Select --"
                    class="w-100"></ng-select>
                    <span *ngIf="showError && EmployeeForm.controls['fk_yearId'].invalid" class="text-danger mt-1" style="font-size: 12px;">
                      Please enter Year.
                    </span>
                  </div> 
              </div>
             
               <div class="col" *ngIf="isContractApplicable">
                  <label>Contractor Name</label>
              
                  <div class="form-group">
                    <ng-select id="year" [items]="CostCenter"
                     bindLabel="name"
                      bindValue="value"
                    formControlName="fk_costcentreid" placeholder="--Select --"
                    class="w-100"></ng-select>
                   
                  </div> 
                 </div>
          </div>
            
          <div class="row">
            <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
              <button type="submit" class="btn btn-primary mx-1" >Veiw</button>
                <button type="reset" class="btn btn-outline-dark mx-1" >Reset</button>
             
              </div>
        </div> 

        <!--  -->
      </form>
              <!-- List1 of Employee -->
       <!-- <div *ngIf="showEmployeeList && (filteredDisapprovedList.length > 0 ||filteredApprovedList.length > 0)"> -->
        <div *ngIf="showEmployeeList && (filteredDisapprovedList.length > 0 || filteredApprovedList.length > 0)">


      
  <div class="card-header">
    <div class="row w-100 ">
  <div class="col-sm-12 col-md-6 col-lg-8">                    
    <h4 class="text-primary">List of Employee (Salary Not Approved)</h4>   
  </div>



 <div class="col-sm-12 col-md-6 col-lg-4">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">

<div class="col d-flex align-items-center justify-content-end">

     
       <button *ngIf="disapprovedHeaders.length > 0" class="btn btn-primary mx-1" (click)="downloadExcel()" [disabled]="isExporting">
                            <!-- <i class="fa fa-download me-2"></i> Export Excel -->
                            <i *ngIf="!isExporting" class="fa fa-download me-2"></i>
                            <i *ngIf="isExporting" class="fa fa-spinner fa-spin me-2"></i>
                            {{ isExporting ? 'Wait...' : 'Export Excel' }}

                        </button>

                        </div>

<div class="col">
   <input
      type="text"
      class="form-control w-auto"
      placeholder="Search employee..."
      [(ngModel)]="searchTextUnUnLock"
      (input)="filtersalaryData('Disapprove')" />
</div>
</div>  
</div>

  </div>
</div>

        <div class="table-responsive table-invoice">
            <table class="table table-bordered">
                <thead>
                  <tr>
                
                    <!-- <th>Sr.</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Department</th>
                    <th>Designation</th> -->

                    <!-- <th>Sr.</th> -->
        <th *ngFor="let header of disapprovedHeaders">
          {{ header | titlecase }}
        </th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of filteredDisapprovedList | paginate: { id: 'Disapprove', itemsPerPage: pageSize1, currentPage: pageIndex1,totalItems:salaryDisapprovedcount }; let i = index">

                   

        <!-- Dynamic columns -->
        <td *ngFor="let header of disapprovedHeaders">
          {{ item[header] }}
        </td>
        
      </tr> 
        
          <tr *ngIf="filteredDisapprovedList.length === 0" class="d-flex align-items-center justify-content-center">
    <td [attr.colspan]="disapprovedHeaders.length" class="text-center my-1 fw-semibold">
      No data found
    </td>
  </tr>
                </tbody>
              </table>
              <!-- <pagination-controls
              (pageChange)="onpageChange($event)">
              totalItems=totalcount
              </pagination-controls> -->
              <pagination-controls  
              *ngIf="salaryDisapprovedcount > 0"
              (pageChange)="onpageChange1($event)"
              id="Disapprove"
              totalItems="salaryDisapprovedcount"
              itemsPerPage="pageSize1">
            </pagination-controls>
          
          </div>
  

<!--  -->

<!-- List2 of employee -->

  <div class="card-header">
    <div class="row w-100 ">
  <div class="col-sm-12 col-md-6 col-lg-8">                    
    <h4 class="text-primary">List of Employee (Salary Approved)</h4>   
  </div>



 <div class="col-sm-12 col-md-6 col-lg-4">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">

<div class="col d-flex align-items-center justify-content-end">

      <button *ngIf="approvedHeaders.length > 0" class="btn btn-primary mx-1" (click)="downloadExcel()" [disabled]="isExporting">
                            <!-- <i class="fa fa-download me-2"></i> Export Excel -->
                            <i *ngIf="!isExporting" class="fa fa-download me-2"></i>
                            <i *ngIf="isExporting" class="fa fa-spinner fa-spin me-2"></i>
                            {{ isExporting ? 'Wait...' : 'Export Excel' }}

                        </button>

                        </div>

<div class="col">
  <input
    type="text"
    class="form-control w-auto"
    placeholder="Search employee..."
    [(ngModel)]="searchTextLock"
    (input)="filtersalaryData('Approve')" />
</div>
</div>  
</div>

  </div>
</div>





    <div class="table-responsive table-invoice mb-3">
        <table class="table table-bordered">
            <thead>
              <tr>
                
        <th *ngFor="let header of approvedHeaders">
          {{ header | titlecase }}
        </th>
                
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of filteredApprovedList | paginate: { id: 'Approve', itemsPerPage: pageSize2, currentPage: pageIndex2,totalItems:salaryApprovedcount}; let i = index">

              

        <!-- Dynamic columns -->
        <td *ngFor="let header of approvedHeaders">
          {{ item[header] }}
        </td>
       
              </tr> 
                <!-- NO DATA ROW -->
  <tr *ngIf="filteredApprovedList.length === 0" class="d-flex align-items-center justify-content-center">
    <td [attr.colspan]="approvedHeaders.length" class="no-data-cell my-1 fw-semibold">
      No data found
    </td>
  </tr>
            </tbody>
          </table>
          
          
      </div>
      <pagination-controls  
          *ngIf="salaryApprovedcount > 0"
          (pageChange)="onpageChange($event)"
          id="Approve" class="mt-3"
          totalItems="salaryApprovedcount"
          itemsPerPage="pageSize2">
        </pagination-controls>
          <div class="row">
            <div class="col d-flex align-items-end justify-content-end pt-4 pb-3">
           
                <button type="submit" class="btn btn-outline-dark mx-1" (click)="updateApprove()" >Approve</button>
                <button type="submit" class="btn btn-primary mx-1"(click)="updateDisapporve()" >Disapprove</button>
              </div>
        </div>

</div>


      </div>




  </div>
</div>    

</div>