<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
     
  
  
        <div class="card-header bg-blue">
          <div class="row w-100 ">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
              <h4>{{Isedit? 'Update Attribute Master' : 'Attribute Master'}}</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-md-end">
              <button class="btn btnheader" routerLink="/dash/hr/hrdashboard/SKP_Attribute_Mst_list">Back
              </button>
            
            </div>
          </div>
  
  
        </div>
  
        <div class="card-body mt-lg-3">
          <form [formGroup]="skpAttributeform">
            <div class="row" class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <label>Description<span style="color: red;">*</span></label>
  
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName="description" (blur)="checkAvailability(skpAttributeform.get('description')?.value)">
                    <div *ngIf="showError  && skpAttributeform.get('description')?.invalid && !skpAttributeform.get('description')?.errors?.['duplicate']" class="text-danger mt-1" style="font-size: 12px;">
                     Please enter description
                      </div>
                      <div *ngIf="skpAttributeform.get('description')?.errors?.['duplicate']" 
                      class="text-danger" style="font-size:10px;">
                    {{ skpAttributeform.get('description')?.errors?.['duplicate'] }}
                    </div>
                     </div>
           
  
             
              </div>
  
              <div class="col">
                <label>Order No.<span style="color: red;">*</span></label>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="orderNo">

                    <div *ngIf="showError  && skpAttributeform.get('orderNo')?.invalid" class="text-danger mt-1" style="font-size: 12px;">
                      Please enter OrderNo
                      </div>
                </div>
              </div>


               <div class="col d-flex align-items-center justify-content-start">
              <div class="form-group ps-lg-5">
                <label>Is Active</label><br>
                <input type="checkbox" class="form-check-input fs-6 mx-1" formControlName="isActive">

              </div>
               </div>
            </div>
  
  
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary mx-1" (click)="submitForm()">{{Isedit? 'Update' : 'Save'}}</button>
              <button type="reset" class="btn btn-outline-dark mx-1">Reset</button>
              
            </div>
          </form>
        </div>
  
  
      </div>
    </div>
  
  </div>