
.table td {
    white-space: nowrap;
    font-size: 10px;
   
    text-align: start !important;
    padding: 6px 0px;
    color:rgb(222, 226, 230)
  }
  .table th {
    white-space: nowrap;
    text-align: start !important;
    padding: 6px 0px;
  }
  
  .table-responsive {
    overflow-x: auto;
  }

  .small{
    font-size: 11px;
    font-weight: 500;
  }

th, td {
  padding: 4px 10px !important;
  text-align: center;
  vertical-align: middle;
}

th {
  min-width: 100px;
  white-space: nowrap;
}