<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">

      <div class="card-header bg-primary py-lg-1 mt-0">
        <div class="row w-100 align-items-center">

          <!-- Title Section -->
          <div class="col-12 col-md-3">
            <h4>Employee Leave Taken Details</h4>
          </div>

          <!-- Search Section -->
          <div class="col-12 col-md-7 mt-2 mt-md-0">
            <app-common-search (filtersChanged)="handleFilters($event)"></app-common-search>
          </div>

          <!-- Button Section -->
          <!-- <div class="col-12 col-md-2 mt-2 mt-md-0 d-flex justify-content-center justify-content-md-end">
                    <button class="btn btnheader" routerLink="/dash/payroll/payrolldashboard/HR_EmployeeQualification_List">
                        Back
                    </button>
                </div> -->

        </div>
      </div>


      <div class="card-body mt-4">
        <form [formGroup]="leaveTransactionForm">

          <div class="row row-cols-1 row-cols-md-3 ">

            <div class="col">
              <label for="employeeCode">Employee Code<span class="text-danger font-bold">*</span></label>
              <ng-select id="employeeCode" placeholder="--Select emp --" [items]="employees" bindLabel="name"
                bindValue="value" formControlName="fk_empid" class="w-100" (change)="onEmployeeSelect($event)"
                (change)="getLeavesTakenListDetails()" [searchable]="true" (search)="onEmployeeSearch($event)"
                [loading]="loadingEmployees" loadingText="Searching employees..."></ng-select>

              <span *ngIf="showError && leaveTransactionForm.controls['fk_empid'].invalid" class="text-danger mt-1"
                style="font-size: 12px;">
                Please select Employee Code
              </span>
              <!-- <ng-select id="employeeCode" [items]="filteredEmployees" bindLabel="name" bindValue="value" formControlName="employeeCode" class="w-100"></ng-select> -->
            </div>
            <div class="col">
              <label>Leave Type<span class="text-danger font-bold">*</span></label>
              <ng-select id="leavetype" [items]="leavetypeddl" bindLabel="name" bindValue="value"
                formControlName="fk_leaveid" placeholder="--Select leavetype --" class="w-100"
                (change)="onLeaveTypeSelect()"></ng-select>
              <span *ngIf="showError && leaveTransactionForm.controls['fk_leaveid'].invalid" class="text-danger mt-1"
                style="font-size: 12px;">
                Please enter LeaveType.
              </span>
            </div>


            <!-- <div class="col">
                    <label>Current Leave</label>
                    <div class="form-group">
                        <input type="text"class="form-control"formControlName="currentLeave" readonly >
                    </div> 
                </div> -->
            <!-- <div class="col">
                    <label>Earned Leave</label>           
                    <div class="form-group">
                        <input type="text"class="form-control"formControlName="earnedLeave" readonly >
                    </div>  
                </div> -->

            <div class="col">
              <label> Balanced</label>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="totalBalancedLeave" readonly>
              </div>
            </div>


            <div class="col">
              <label>From Date <span class="text-danger font-bold">*</span></label>
              <div class="form-group">
                <input type="date" class="form-control" formControlName="datefrom" (change)="calculateLeaveDays()">
                <span *ngIf="showError && leaveTransactionForm.controls['datefrom'].invalid" class="text-danger mt-1"
                  style="font-size: 12px;">
                  Please enter FromDate.
                </span>
              </div>
            </div>

            <div class="col">
              <label>To Date <span class="text-danger font-bold">*</span></label>
              <div class="form-group">
                <input type="date" class="form-control" formControlName="dateto" (change)="calculateLeaveDays()">
                <span *ngIf="showError && leaveTransactionForm.controls['dateto'].invalid" class="text-danger mt-1"
                  style="font-size: 12px;">
                  Please enter ToDate.
                </span>
              </div>
            </div>

            <div class="col">
              <label>Total days</label>
              <div class="form-group">
                <input type="number" class="form-control" formControlName="leavetaken" readonly>

              </div>
            </div>


            <div class="col">
              <label>Remarks</label>
              <div class="form-group">
                <textarea class="form-control" formControlName="remarks"></textarea>
              </div>
            </div>

            <div class="col"></div>

            <div class="col d-flex align-items-center justify-content-end">

              <button type="submit" class="btn btn-primary mx-1" (click)="onCalculateClick()">Calculate</button>
              <button type="submit" class="btn btn-outline-dark mx-1" (click)="resetForm()">Reset</button>
            </div>

            <!-- <div class="col">
                    <label>Is Late Coming</label>
                    <div class="form-group">
                        <input type="checkbox"class="form-check-input fs-6" formControlName="isLateComing">
                    </div>
                </div> -->
          </div>



        </form>








        <!-- <div class="card-header">
            <div class="row w-100">
              <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-between">
                <h4>Leaves Taken</h4>
               
              </div>
          
              
            </div>
        </div> -->





        <div class="bg-primary rounded-1 mt-3 page-seperator">
          <p class="p-1 text-white ms-4">Leave Taken</p>
        </div>

        <div class="table-responsive table-invoice">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr.</th>
                <th>Leave Dates</th>
                <th>Leave Type</th>
                <th>Half Day</th>
                <th>Half Day Type</th>
                <th>Half Day Club</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leave of calculatedLeaveList; let i = index">
                <td>{{leave.cid}}</td>
                <td>{{ leave.dates }}</td>
                <td>{{ leave.leaveType }}</td>
                <td class="text-center">
                  <input type="checkbox" [(ngModel)]="leave.ishalfday" (change)="onHalfDayToggle(i)" />
                </td>
                <td>
                  <select class="form-select text-center" [(ngModel)]="leave.halfdaystatus"
                    [disabled]="!leave.ishalfday">
                    <option selected="selected" value="F">First Half</option>
                    <option value="S">Second Half</option>
                  </select>
                </td>

                <td>
                  <select class="form-select text-center" [(ngModel)]="leave.halfdayclub">
                    <option selected="selected" value="N">Only Half Day</option>
                    <option value="Y">Half LWP</option>
                  </select>
                </td>
                <!-- <td>{{ leave.halfDayClub }}</td> -->
                <td>
                  <input type="text" class="form-control" [(ngModel)]="leave.remarks" placeholder="Enter Remark" />
                </td>
              </tr>
              <tr *ngIf="calculatedLeaveList.length === 0">
                <td colspan="7" class="text-center">No leave data available.</td>
              </tr>
            </tbody>

          </table>
        </div>


        <div class="row py-2 ">




          <div class="col-sm-12 col-md-12 col-lg-6  d-flex align-items-center justify-content-start  pe-3"
            (click)="getLeavesTakenListDetails()">

            <ul class="nav nav-pills  lh-0" id="pills-tab" role="tablist">

              <li class="nav-item" role="presentation">
                <p class="nav-link bg-transparent active  small" id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"
                  (click)="onEmployeeSelect('')">
                  Leave Balance</p>
              </li>

              <li class="nav-item" role="presentation">
                <p class="nav-link bg-transparent   small" id="pills-profile-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                  aria-selected="false" (click)="toggleToBalance()"> Leave Taken Detail</p>
              </li>

            </ul>


          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 p-0 d-flex align-center justify-content-end">

            <button type="submit" class="btn btn-primary mx-1" (click)="onSubmit()">{{ isEditMode ? 'Update' : 'Save'
              }}</button>
            <button type="submit" class="btn btn-outline-dark mx-1" (click)="resetForm()">Reset</button>
          </div>

        </div>





        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">



            <div class="table-responsive table-invoice" id="LB">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Sr.</th>
                    <th>Leave Type</th>
                    <th>Curr. Year Leave</th>
                    <th>Prev. Year Leave</th>
                    <th>Total Leave</th>
                    <th>Availed Leave</th>
                    <!-- <th>late Coming</th> -->
                    <th>Balance Leave</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let leave of leaveDetailsList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ leave.leavetype }}</td>
                    <td>{{ leave.currentyearleaves }}</td>
                    <td>{{ leave.totalleavesearned }}</td>
                    <td>{{ leave.totalleave }}</td>
                    <td>{{ leave.leaveavailed }}</td>
                    <!-- <td>{{ leave.latecoming }}</td> -->
                    <td>{{ leave.balleave }}</td>
                  </tr>
                  <tr *ngIf="leaveDetailsList.length === 0">
                    <td colspan="8" class="text-center">No leave details available.</td>
                  </tr>
                </tbody>
              </table>

            </div>


          </div>






          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
            tabindex="0">


            <div class="table-responsive table-invoice" id="List">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Sr.</th>
                    <th>Leave Type</th>
                    <th>From Date</th>
                    <th>To Date</th>

                    <th>Leaves Taken</th>
                    <th>From Time</th>
                    <th>To Time</th>
                    <th>Total Hour</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let Leaves of  LeavesTakenList | paginate: { itemsPerPage: pageSize, currentPage: pageIndex ,totalItems:totalItems};let i = index">
                    <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                    <td>{{Leaves.leavetype}}</td>
                    <td>{{Leaves.fromdate}}</td>
                    <td>{{Leaves.todate}}</td>

                    <td>{{Leaves.leavetaken}}</td>
                    <td>{{Leaves.fromtime}}</td>
                    <td>{{Leaves.totime}}</td>
                    <td>{{Leaves.totalhour}}</td>
                    <td [ngClass]="{
      'text-success  btn-success': Leaves.status === 'Approved',
      'text-danger btn-danger': Leaves.status === 'Rejected',
     
    }"> {{ Leaves.status }} </td>

                    <td>
                      <!-- <button class="btn btn-sm btn-outline" (click)="onEditClick(Leaves.pk_leavetakenid)"><i class="fa-solid fa-pen-to-square" ></i></button> -->
                      <button class="btn btn-sm btn-outline" *ngIf="Leaves.status === 'Approved'"
                        (click)="deleteLeaveTransaction(Leaves.pk_leavetakenid)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                  <tr *ngIf="LeavesTakenList.length === 0">
                    <td colspan="5" class="text-center">No leave Taken available.</td>
                  </tr>
                </tbody>

              </table>
              <!-- Pagination controls -->
              <pagination-controls (pageChange)="onPageChange($event)" totalItems="totalItems" itemsPerPage="pageSize">
              </pagination-controls>

            </div>

          </div>

        </div>









      </div>
    </div>

  </div>