

// top steper


.step-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    
    }
    
    @media screen and (max-width:1024px){
      .step-indicator {
      padding:10px;
      }
    }
    
    .step {
    position: relative;
    text-align: center;
    flex: 1;
    }
    
    .step-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
    }
    
    .step-label {
    margin-top: 10px;
    font-size: 14px;
    }
    
    .step-line {
    position: absolute;
    top: 9px; /* Align line with the circle */
    left: 53%;
    width: 95%;
    height: 3px;
    background-color: #e7591d;
    z-index: 0;
    }
    
    @media screen and (max-width:1024px){
      .step-line {
      
        
        left: 3% !important;
        width: 3px !important;
        top:8px !important;
        }
        
    }
    
    .active-step .step-circle {
    background-color: #2196f3; /* Active step color */
    }
    
    .completed-step .step-circle {
    background-color: #54ca68; /* Completed step color */
    }
    
    .completed-step .step-line {
    background-color: #54ca68; /* Completed line color */
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
    .step-indicator {
    flex-direction: column;
    align-items: flex-start;
    }
    
    .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
    }
    
    .step-circle {
    margin: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    }
    
    .step-label {
    margin-left: 15px; /* Space between circle and label */
    font-size: 12px;
    }
    
    .step-line {
    position: absolute;
    left: 15px;
    top: 30px;
    width: 5px;
    height: 50px; /* Line between steps in vertical layout */
    }
    
    /* Hide the last vertical line */
    .step:last-child .step-line {
    display: none;
    }
    }
    //for policy image

    .policy-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
    // 

  