<div class="row">
  <div class="col-12">
    <div class="card">
      <!-- HEADER -->
      <div class="card-header bg-primary">
        <div class="row w-100">
          <!-- Title -->
          <div class="col-sm-12 col-md-4 d-flex align-items-center">
            <h4 class="text-white mb-0">Onboarding Candidate List</h4>
          </div>

          <!-- Search -->
          <div
            class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center"
          >
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchText"
            />
          </div>

          <!-- Buttons -->
          <div
            class="col-sm-12 col-md-4 d-flex align-items-center justify-content-end"
          >
            <button class="btn btn-light mx-1">Download</button>
          </div>
        </div>
      </div>

      <!-- BODY -->
      <div class="card-body">
        <div class="table-responsive small">
          <table class="table table-bordered mb-0">
            <thead class="table-light">
              <tr>
                <!-- <th>Rec ID</th> -->
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Department</th>
                <th>Designation</th>
                <th>Status</th>
                <th>Initiated Date</th>
                <th>InProgress Date</th>
                <th>Completed Date</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <!-- DATA ROW -->
              <tr *ngFor="let user of filteredData()">
                <!-- <td>{{ user.pk_recId }}</td> -->
                <td>{{ user.candidate_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.department }}</td>
                <td>{{ user.designation }}</td>

                <!-- STATUS BADGE -->
                <td>
                  <span
                    class="badge px-3 py-2"
                    [ngClass]="{
                      'bg-warning text-white':
                        user.onboardFormStatus == 'Initiated',
                      'bg-info text-white':
                        user.onboardFormStatus == 'Inprogress',
                      'bg-success text-white':
                        user.onboardFormStatus == 'Completed',
                      'bg-secondary text-white': !user.onboardFormStatus
                    }"
                  >
                    {{ user.onboardFormStatus || "Pending" }}
                  </span>
                </td>

                <!-- Initiated Date -->
                <td class="lh-sm">
                  <span *ngIf="user.onboardInitiatedDate">
                    {{ user.onboardInitiatedDate | date : "dd-MMM-yyyy" }}<br />
                    {{ user.onboardInitiatedDate | date : "hh:mm a" }}
                  </span>
                  <!-- <span *ngIf="user.onboardInitiatedDate">
                    {{ user.onboardInitiatedDate | date:'dd-MMM-yyyy hh:mm a' }}
                  </span> -->
                  <span *ngIf="!user.onboardInitiatedDate" class="text-muted"
                    >-</span
                  >
                </td>

                <!-- InProgress Date -->
                <td class="lh-sm mx-3">
                  <!-- <span *ngIf="user.onboardInprogressDate">
                    {{
                      user.onboardInprogressDate | date : "dd-MMM-yyyy hh:mm a"
                    }}
                  </span> -->
                  <span *ngIf="user.onboardInprogressDate">
                    {{ user.onboardInprogressDate | date : "dd-MMM-yyyy"
                    }}<br />
                    {{ user.onboardInprogressDate | date : "hh:mm a" }}
                  </span>
                  <span *ngIf="!user.onboardInprogressDate" class="text-muted"
                    >-</span
                  >
                </td>

                <!-- Completion Date -->
                <td class="lh-sm">
                  <!-- <span *ngIf="user.onboardCompletionDate">
                    {{
                      user.onboardCompletionDate | date : "dd-MMM-yyyy hh:mm a"
                    }}
                  </span> -->
                  <span *ngIf="user.onboardCompletionDate">
                    {{ user.onboardCompletionDate | date : "dd-MMM-yyyy"
                    }}<br />
                    {{ user.onboardCompletionDate | date : "hh:mm a" }}
                  </span>
                  <span *ngIf="!user.onboardCompletionDate" class="text-muted"
                    >-</span
                  >
                </td>

                <!-- ACTION -->
                <td>
                  <i
                    class="fa-solid fa-eye"
                    (click)="viewOnboarding(encryptionService.encryptText(user.pk_recId).toString())"
                    style="cursor: pointer"
                  ></i>
                </td>
              </tr>

              <!-- NO DATA -->
              <tr *ngIf="filteredData().length === 0">
                <td colspan="11" class="text-center text-muted">
                  No onboarding records found
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- PAGINATION -->
        <div class="d-flex justify-content-end mt-2">
          <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel="Prev"
            nextLabel="Next"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
