<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <!--  -->
      <div class="card-header bg-primary py-lg-1 mt-0">
        <div class="row w-100 align-items-center">
          <!-- Title Section -->
          <div class="col-12 col-md-3">
            <h4>Import Day Wise Attendance</h4>
          </div>

          <!-- Search Section -->
          <div class="col-12 col-md-7 mt-2 mt-md-0">
            <app-common-search (filtersChanged)="handleFilters($event)"></app-common-search>
          </div>

          <!-- Button Section -->

        </div>

      </div>

      <div class="card-body mt-4">
        <form [formGroup]="EmportDailyAttendaceForm" (ngSubmit)="onSubmit()">
          <div class="row row-cols-1 row-cols-md-4">
            <div class="col">
              <label>Month</label>

              <div class="form-group">
                <ng-select id="year" [items]="months" bindLabel="name" bindValue="value"
                  (change)="onMonthOrYearChange()" formControlName="FkMonthId" placeholder="--Select --"
                  class="w-100"></ng-select>
                <span *ngIf="showError && EmportDailyAttendaceForm.controls['FkMonthId'].invalid"
                  class="text-danger mt-1" style="font-size: 12px;">
                  Please enter Month.
                </span>
              </div>
            </div>

            <div class="col">
              <label>Year</label>

              <div class="form-group">
                <ng-select id="year
                             " [items]="years" bindLabel="name" bindValue="value" (change)="onMonthOrYearChange()"
                  formControlName="FkYearId" placeholder="--Select --" class="w-100"></ng-select>
                <span *ngIf="showError && EmportDailyAttendaceForm.controls['FkYearId'].invalid"
                  class="text-danger mt-1" style="font-size: 12px;">
                  Please enter Year.
                </span>
              </div>
            </div>
            <div class="col" *ngIf="isContractApplicable">
              <label>Contractor Name</label>

              <div class="form-group">
                <ng-select 
                  [items]="CostCenter"
                  bindLabel="name"
                  bindValue="value"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  formControlName="fk_costcentreid" 
                  placeholder="--Select --"
                  class="w-100"
                  (clear)="clearCostCenters()"
                >
                  <!-- Display Selected CostCenters -->
                  <ng-template ng-multi-label-tmp>
                      <span>{{ getCostCenterDisplayText() || '--Select --' }}</span>
                  </ng-template>

                  <!-- Custom Checkbox for Select All -->
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                      <div *ngIf="item.value === '__select_all__'">
                          <input type="checkbox" 
                          (change)="toggleSelectAllCostCenters($event)" 
                          [checked]="isAllCostCentersSelected()" 
                          class="form-check-input fs-6 mx-1"/>
                          <strong>Select All</strong>
                      </div>
                   
                      <!-- Normal location rows -->
                      <div *ngIf="item.value !== '__select_all__'">
                          <input type="checkbox" 
                          [checked]="selectedCostCenters.includes(item.value)"
                          (change)="toggleCostCenter(item.value)" 
                          class="form-check-input fs-6 mx-1"/>
                          {{ item.name }}
                      </div>
                  </ng-template>
                </ng-select>
              </div>
            </div>

            <div class="col align-content-center">
              <button type="submit" class="btn btn-primary mx-1" [disabled]="isViewLoading">

                <i *ngIf="isViewLoading" class="fa fa-spinner fa-spin me-2">
                </i>

                {{ isViewLoading ? 'Loading...' : 'View' }}</button>
              <button type="reset" class="btn btn-outline-dark mx-1">Reset</button>
            </div>



          </div>


        


        </form>

          <div class="row">
            <div class="col-12">
              <div class="col d-flex align-items-end justify-content-end">

                <button class="btn btn-primary px-3 mx-1" (click)="toggleImportView()">Import Excel</button>

              </div>
            </div>
          </div>

        <div class="container"
          *ngIf="attendanceList?.attendancemarked?.length > 0 || attendanceList?.attendanceNotmarked?.length > 0">


          <!-- <div class="row">

          

            <div class="col-12 col-md-4">
              <div class="card"
                style="height: 40px; border: 1px solid #ffc107; box-shadow: none; border-left: 5px solid #ffc107;">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <div>
                    <p class="card-title">Processed Attendance: &nbsp;<b>{{ this.AttendanceMarkedCount }}</b></p>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="card"
                style="height: 40px; border: 1px solid green; box-shadow: none; border-left: 5px solid #28a745;">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <div>
                    <p class="card-title">Locked Attendance :&nbsp;<b>{{ this.NotMarkedorLockAttendanceCount }}</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- List of Employee -->
      <div class="container"
        *ngIf="!showImportView && (attendanceList?.attendancemarked?.length > 0 || attendanceList?.attendanceNotmarked?.length > 0)">

        <div class=" row mt-4 mb-2">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xxl-6">
            <p class="text-primary m-0">List of Employee (Processed Attendance)</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-end">


            <button *ngIf="attendanceList?.attendancemarked?.length > 0" class="btn btn-primary mx-1 px-3"
              (click)="exportTemplate()">

              <i *ngIf="!isExporting" class="fa fa-download me-2"></i>
              <i *ngIf="isExporting" class="fa fa-spinner fa-spin me-2"></i>
              {{ isExporting ? 'Wait...' : 'Export Excel' }}
            </button>
            <input type="text" class="form-control  w-auto ms-1" placeholder="Search employee..."
              [(ngModel)]="searchTextAttendanceMarked" (input)="filterAttendance('Marked')" />
          </div>
        </div>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <!-- <th>Sr.</th>
              
                <th>Code</th>
                <th>Name</th>
                <th>Location</th>
                <th>Department</th> -->


                <!-- <th>A1</th>
                <th>A2</th>
                <th>A3</th>
                <th>A4</th>
                
                <th>A5</th>
                <th>A6</th>
                <th>A7</th>
                <th>A8</th>
                <th>A9</th>
                <th>A10</th>
                <th>A11</th>
                <th>A12</th>
                 <th>A13</th>
                  <th>A14</th>
                   <th>A15</th>
                    <th>A16</th>
                     <th>A17</th>
                      <th>A18</th>
                       <th>A19</th>
                        <th>A20</th>
                         <th>A21</th>
                          <th>A22</th>
                           <th>A23</th>
                            <th>A24</th>
                             <th>A25</th>
                              <th>A26</th>
                               <th>A27</th>
                                <th>A28</th>
                                 <th>A29</th>
                                  <th>A30</th>
                                   <th>A31</th> -->
                <!-- <th *ngFor="let day of dayHeaders">{{ day }}</th>
                <th>Paid Days</th> -->
                 <th *ngFor="let col of markedColumns">{{ col }}</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngIf="filteredAttendanceMarkedList?.length === 0">
                <td colspan="19" class="text-center">No records found</td> <!-- Updated colspan to 19 -->
              </tr>
              <tr
                *ngFor="let emp of filteredAttendanceMarkedList | paginate: { id: 'Marked', itemsPerPage: pageSize1, currentPage: pageIndex1, totalItems: AttendanceMarkedCount }; let i = index">
               <td *ngFor="let col of markedColumns">{{ emp[col] }}</td>


              </tr>
            </tbody>
          </table>

          <!-- Pagination -->
          <pagination-controls *ngIf="AttendanceMarkedCount > 0" id="Marked" (pageChange)="onMarkedPageChange($event)"
            totalItems="AttendanceMarkedCount" itemsPerPage="pageSize1">
          </pagination-controls>
        </div>
        <!-- Not Marked Attendance -->

        <div class=" mt-4 mb-2 d-flex justify-content-between align-items-center">
          <p class="text-primary m-0">List of Employee (Locked Attendance)</p>

          <input type="text" class="form-control w-auto ms-3" placeholder="Search employee..."
            [(ngModel)]="searchTextAttendanceNotMarked" (input)="filterAttendance('NotMarked')" />


        </div>
        <div class="table-responsive" style="overflow-x: auto;">
          <table class="table  table-bordered table-sm min-width-table">
            <thead class="">
              <tr>
                <th>Sr.</th>
                <th>Code</th>
                <th>Name</th>
                <th>Location</th>
                <th>Department</th>
                <!-- <th>Designation</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="filteredAttendaceNotMarkedList?.length === 0">
                <td colspan="14" class="text-center">No records found</td>
              </tr>
              <tr
                *ngFor="let emp of filteredAttendaceNotMarkedList | paginate: { id:'Notmarked',itemsPerPage: pageSize2, currentPage: pageIndex2, totalItems:NotMarkedorLockAttendanceCount }; let i = index">
                <td>{{ (pageIndex2 - 1) * pageSize2 + i + 1 }}</td>
                <td>{{ emp.empcode }}</td>

                <td>{{ emp.empname }}</td>
                <td>{{ emp.location }}</td>
                <td>{{ emp.department }}</td>
                <!-- <td>{{ emp.designation }}</td> -->
              </tr>
            </tbody>
          </table>

          <pagination-controls *ngIf="NotMarkedorLockAttendanceCount > 0" id="Notmarked"
            (pageChange)="onNotMarkedPageChange($event)" totalItems="NotMarkedorLockAttendanceCount"
            itemsPerPage="pageSize2">
          </pagination-controls>
        </div>


      </div>

      <!-- export data  -->
      <div *ngIf="showImportView">
        <div class="card-body">

          <form [formGroup]="EmportDailyAttendaceForm" (ngSubmit)="Import()" class="row g-2 align-items-end mb-4">

            <!-- File Input on the left -->
            <div class="col-md-5">
              <label class="form-label">Select File</label>
              <input type="file" class="form-control" formControlName="file" (change)="onFileChange($event)" #fileInput
                id="fileInput">
              <div
                *ngIf="EmportDailyAttendaceForm.get('file')?.hasError('required') && EmportDailyAttendaceForm.get('file')?.touched"
                class="text-danger" style="font-size: 12px;">
                File is required.
              </div>

              <!-- Validation message for invalid file type -->
              <div
                *ngIf="EmportDailyAttendaceForm.get('file')?.hasError('pattern') && EmportDailyAttendaceForm.get('file')?.touched"
                class="text-danger" style="font-size: 12px;">
                Please upload a valid file (only .xlsx files allowed).
              </div>

              <!-- Excel Head Count Indicator -->
              <div *ngIf="selectedFileHeadCount > 0" class="text-primary fw-semibold mt-1" style="font-size: 12px;">
                <i class="fa-solid fa-users me-1"></i>Excel Head Count: <strong>{{ selectedFileHeadCount }}</strong> employee record(s) detected
              </div>
            </div>


            <!-- Right-aligned Buttons -->
            <div class="col d-flex align-items-center justify-content-end  gap-2">

              <button type="submit" class="btn btn-primary" (click)="Import()" [disabled]="isImporting">

                <i *ngIf="isImporting" class="fa fa-spinner fa-spin me-2">
                </i>

                Import
              </button>
              <button type="reset" class="btn btn-outline-dark" (click)="resetFile()">Reset</button>
              <button class="btn btn-outline-danger d-flex align-items-center justify-content-center p-2"
                (click)="toggleImportView()"><i class="fa-solid fa-xmark fs-6 fw-semibold"></i></button>


            </div>
          </form>
          <!-- Success message -->
          <!-- <div *ngIf="messag" class="alert text-success" role="alert">
  {{ messag }}
</div>


<div *ngIf="errormessag" class="alert text-danger" role="alert">
  {{ errormessag }}
</div> -->


          <!--added by pp-->

          <!-- Import Result Summary -->
          <div *ngIf="successCount > 0 || errorCount > 0">

            <!-- Top Bar -->

            <div class="d-flex justify-content-between align-items-center mb-3">

              <!-- Search -->

              <input type="text" class="form-control w-25" placeholder="Search..." [(ngModel)]="searchImportText"
                (input)="filterImportData()">

              <!-- Counters -->

              <div class="d-flex flex-wrap gap-2">

                <button class="btn" [ngClass]="activeTab === 'all' ? 'btn-primary'
          : 'btn-outline-primary'" (click)="activeTab='all'">
                  <!-- All Data
          <span class="badge bg-light text-primary ms-1">
            {{ totalCount }}
          </span> -->
                  <span>
                    All Data ({{ totalCount }})
                  </span>
                </button>

                <button class="btn" [ngClass]="activeTab==='success'
          ? 'btn-success'
          : 'btn-outline-success'" (click)="activeTab='success'">



                  <span>
                    Uploaded {{ successCount }}
                  </span>

                </button>

                <button class="btn" [ngClass]="activeTab==='error'
          ? 'btn-danger'
          : 'btn-outline-danger'" (click)="activeTab='error'">



                  <span>
                    Not Uploaded {{ errorCount }}
                  </span>

                </button>

                <button class="btn btn-primary" (click)="exportImportResult()">

                  <i class="fa fa-download me-2"></i>
                  Export List

                </button>

              </div>

            </div>

            <!-- Dynamic Grid -->

            <!-- <div class="table-responsive table-bordered" style="max-height: 300px;">

    <table class="table table-bordered table-hover">

      <thead class="sticky-top bg-white" style="top:-2px;">

        <tr>

          <th *ngFor="let col of currentHeaders">
            {{ col }}
          </th>

        </tr>

      </thead>

      <tbody>

        <tr *ngIf="currentData.length === 0">
          <td
            [attr.colspan]="currentHeaders.length"
            class="text-center">

            No Records Found

          </td>
        </tr>

        <tr *ngFor="let row of currentData">

          <td *ngFor="let col of currentHeaders">

            <span
              [ngClass]="{
                'text-danger':
                col.toLowerCase() === 'status'
                && row[col] === 'Error',

                'text-success':
                col.toLowerCase() === 'status'
                && row[col] === 'Success'
              }">

              {{ row[col] }}

            </span>

          </td>

        </tr>

      </tbody>

    </table>

  </div> -->

            <!-- Tab buttons - no change needed, they use the setter automatically -->

            <!-- Replace the table-responsive div with this: -->
            <div class="table-responsive table-bordered" style="max-height: 300px; position: relative;">

              <!-- Tab switch loader overlay -->
              <div *ngIf="isTabLoading" style="position: absolute; inset: 0; background: rgba(255,255,255,0.75); 
           z-index: 10; display: flex; align-items: center; justify-content: center;">
                <div class="d-flex flex-column align-items-center gap-2">
                  <i class="fa fa-spinner fa-spin fa-2x text-primary"></i>
                  <small class="text-muted">Loading...</small>
                </div>
              </div>

              <table class="table table-bordered table-hover">
                <thead class="sticky-top bg-white" style="top:-2px;">
                  <tr>
                    <th *ngFor="let col of currentHeaders">{{ col }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!isTabLoading && currentData.length === 0">
                    <td [attr.colspan]="currentHeaders.length" class="text-center">No Records Found</td>
                  </tr>
                  <tr *ngFor="let row of currentData">
                    <td *ngFor="let col of currentHeaders">
                      <span [ngClass]="{
            'text-danger': col.toLowerCase() === 'status' && row[col] === 'Error',
            'text-success': col.toLowerCase() === 'status' && row[col] === 'Success'
          }">
                        {{ row[col] }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--added by pp-->

        </div>

      </div>


    </div>

  </div>

</div>