<div class="row">
  <div class="col-12">
    <div class="card">
      <!--  -->
      <div class="card-header bg-primary">
        <div class="row w-100">
          <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-between">
            <h4>List of Self Assessment</h4>

          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-center">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4 col-xxl-4 d-flex align-items-center justify-content-md-end">
            <button class="btn btnheader"
              routerLink="/dash/performance/performancedashboard//Empwise-self-Assessment">Add</button>
          </div>

        </div>
      </div>
      <!--  -->
      <div class="card-body">
        <div class="table-responsive table-invoice">
          <table Id="exportTable" class="table table-bordered">
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>EMP Code</th>
                <th>Emp Name</th>
                <th>Emp Location</th>
                <th>Period</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Paginate filtered data -->
              <tr
                *ngFor="let item of filteredData() | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalItems }; let i = index">

                <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                <td>{{ item.empCode }}</td>
                <td>{{ item.empName }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.period }}</td>

                <td>
                  <span [ngClass]="getStatusClass(item.approvalStatusText)">
                    {{ item.approvalStatusText }}
                  </span>
                </td>



                <td>
                  <!-- Update Button: Only visible when status == 0 -->
                  <button *ngIf="item.status === 0" class="btn me-1" (click)="isUpdate(item.pk_kraassId)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>


                  <!-- View Button: Always visible or only when status != 0 -->
                  <button *ngIf="item.status !== 0" class="btn m-0 px-0 pe-1" (click)="isview(item.pk_kraassId)">
                    <i class="fa-solid fa-eye"></i>
                  </button>


                  <button *ngIf="item.status !== 0" class="btn m-0 px-0 ps-1" (click)="generatePDF(item.pk_kraassId)">
                    <i class="fa-solid fa-download text-dark"></i>
                  </button>
                </td>


              </tr>

            </tbody>
          </table>
          <pagination-controls (pageChange)="onPageChange($event)">
          </pagination-controls>

        </div>
      </div>
    </div>
  </div>
</div>




<!-- pdf download -->
<div class="row d-none">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="payslip ">


      <div id="pdf-content">

        <div class="px-0  border border-dark ">


          <!-- card header -->
          <div class="row row-cols-1 row-cols-md-3 g-0 pb-0 border-dark border-bottom">
            <!-- Logo Section -->
            <div class="col d-flex align-items-start  justify-content-start ps-4">

              <img src="assets/Image/pdf-logo.png" alt="Logo" height="30" width="50" style="object-fit: contain; "
                class="align-content-center mt-3">

            </div>

            <div class="col">
              <div class="comapny">
                <p class="fw-semibold text-center small text-center lh-sm text-dark pt-lg-2">
                  Empower Logics</p>
                <p class="text-center small s-small text-center lh-sm text-dark">Empower logics data </p>
              </div>
            </div>
            
            <!-- Right Side Info -->
            <div class="col d-flex align-items-center justify-content-end">
              <div class="pe-lg-2 text-center">
                <p class="text-dark small lh-sm pt-lg-2"><span class="fw-semibold">Month : </span> <span
                    class="text-primary">{{ today | date: 'dd MMM yyyy' }}</span>
                </p>

              </div>
            </div>
          </div>

          <!--  -->



          <div class="row row-cols-1 row-cols-md-1 g-0 border-bottom border-dark  ">
            <div class="col">
              <p class="small fw-semibold text-dark pt-2 ps-3 text-primary">Assessment Details</p>

            </div>


          </div>


          <!-- table data -->


          <div *ngFor="let data of staticKRAData">
            <div class="row row-cols-1 row-cols-md-1  g-0 pb-0 border-bottom border-dark ">

              <div class="col">
                <table style="width: 90%; font-size: 12px; border-collapse: collapse; margin: auto;">
               

                  <tr>
                    <td style="padding: 4px; font-weight: bold; text-align: start;">KRA</td>
                    <td style="padding: 4px; text-align: start;">:</td>
                    <td style="padding: 4px; text-align: start;" [innerHTML]="data.kra | safeHtml"></td>
                  </tr>

                  <tr>
                    <td style="padding: 4px; font-weight: bold; text-align: start;">KPI</td>
                    <td style="padding: 4px; text-align: start;">:</td>
                    <td style="padding: 4px; text-align: start;" [innerHTML]="data.kpi | safeHtml"></td>
                  </tr>

                  <tr>
                    <td style="padding: 4px; font-weight: bold; text-align: start;">KPA</td>
                    <td style="padding: 4px; text-align: start;">:</td>
                    <td style="padding: 4px; text-align: start;" [innerHTML]="data.kpa | safeHtml"></td>

                  </tr>
                  <tr>
                    <td style="padding: 4px; font-weight: bold; text-align: start;">Target</td>
                    <td style="padding: 4px; text-align: start;">:</td>
                    <td style="padding: 4px; text-align: start" [innerHTML]="data.targetvalue | safeHtml"></td>
                  </tr>
                  <tr>
                    <td style="padding: 4px; font-weight: bold; text-align: start;">Weightage</td>
                    <td style="padding: 4px; text-align: start;">:</td>
                    <td style="padding: 4px; text-align: start" [innerHTML]="data.weightage | safeHtml"></td>

                  </tr>

                </table>
              </div>





            </div>



                <!-- self assesment -->
            <div class="row row-cols-1 row-cols-md-2 g-0 pb-0 border-bottom border-dark  ">
              <div class="col ">
                <p class="small ps-3 pb-0 fw-semibold d-flex align-items-center justify-content-start pt-2 m-0"><span class="text-primary">Self Assesment : </span> <span class="ps-2">{{ data.selfAssessment }}</span></p>
              </div>

              <div class="col"> 
                  <p class="small pb-0  fw-semibold d-flex align-items-center justify-content-start m-0"><span class=" text-primary">Remarks : </span> <span class="pt-2 ps-2" [innerHTML]="data.assessmentRemarks | safeHtml"></span></p>
              
              </div>

          
            </div>

       

          </div>







        </div>

        
          <!-- generate date -->

          <div class="row pt-2">
            <div class="col-12">
              <p class="text-end small"> <span>Generate date : </span> <span>{{ today | date: 'dd MMM yyyy, hh:mm a'
                  }}</span></p>
            </div>
          </div>




      </div>
    </div>
  </div>

  </div>
  
