<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary ">
                <div class="row w-100 ">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-between">
                        <h4>List of Company(s)</h4>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xxl-6 d-flex align-items-center justify-content-md-end">
                        <button class="btn btnheader" routerLink="/dash/payroll/payrolldashboard/Company">
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-invoice">
                    <table id="exportTable" class="table">
                        <thead>
                            <tr>				
                                <th>S. No.</th>    
                                <th>Comp Code</th> 
                                <th>Comp Name</th>           
                                <th>Address</th>
                                <th>Contact Person</th>

                                <th>EDIT</th> 
                            </tr>
                        </thead>
                        <tbody>
                            
                            
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</div>



